# **Récupération et formatage des données**
---

## Introduction<a class="anchor" id="partie1"></a>

Ce notebook contient les codes nécessaires à la récupération et au formatage des données. Les données ont été récupéré sur le site de [l'OCDE](https://data-explorer.oecd.org/) et sur celui [d'Eurostat](https://ec.europa.eu/eurostat/fr/data/database). 

Nous récupérons les données en csv et les transformons en un unique csv contenant pour chacun des pays les valeurs trimestrielles (de Q1 en 1995 à Q3 de 2024 <span style="color:red ; font-size:20px;"> faire attention les working hours ne vont qu'au Q3 de 2024 </span>) de PIB, d'heure de travail, des taux d'intérêts à court et long terme et de l'indice à la consommation des prix. Pour l'instant il nous manque aussi les anticipations des taux et les rendements des marchés financiers. Le csv final de ce notebook servira de base de données par la suite. 

Les pays retenus sont ceux pour lesquels on a réussi à collecter toutes les données relatives aux variables d'intérêt: Autriche (Austria) Belgique (Belgium) Bulgarie (Bulgaria) Tchéquie (Czechia) Danemark (Denmark) Estonie (Estonia) Finlande (Finland) France (France) Allemagne (Germany) Grèce (Greece) Hongrie (Hungary) Islande (Iceland) Irlande (Ireland) Italie (Italy) Lettonie (Latvia) Lituanie (Lithuania) Luxembourg (Luxembourg) Pays-Bas (Netherlands) Norvège (Norway) Pologne (Poland) Portugal (Portugal) Roumanie (Romania) Slovaquie (Slovakia) Slovénie (Slovenia) Espagne (Spain) Suède (Sweden) Suisse (Switzerland) Royaume-Uni (United Kingdom).

## Sommaire

* [Introduction](#partie1)
* [Récupération des données](#partie2)
    * [Données de PIB](#partie21)
    * [Données d'heures de travail](#partie22)
    * [Données des taux d'intérêts](#partie23)
    * [Données d'indice à la consommation des prix](#partie24)
    * [Données de croissance potentielle](#partie25)
* [Création de la base de données](#partie3)

## Récupération des données <a class="anchor" id="partie2"></a>

In [1]:
%pip install -r requirements.txt

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (from -r requirements.txt (line 2)) (2.2.3)
Requirement already satisfied: openpyxl in /opt/conda/lib/python3.12/site-packages (from -r requirements.txt (line 3)) (3.1.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas->-r requirements.txt (line 1)) (2025.1)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.12/site-packages (from openpyxl->-r requirements.txt (line 3)) (2.0.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from sklearn.metrics import mean_squared_error

Nous créons la liste qui contient les pays cités précédemment, à noter que la Slovaquie apparaît sous le nom Slovakia pour Eurostat et Slovak Republic pour l'OCDE, elle est donc sous deux noms dans notre liste de pays à sélectionner.

In [4]:
# Liste comportant les pays choisis
countries_selected=[
    "Austria", "Belgium", "Bulgaria", "Czechia", "Czech Republic", "Denmark", "Estonia", 
    "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", 
    "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Netherlands", 
    "Norway", "Poland", "Portugal", "Romania", "Slovakia", "Slovak Republic",
    "Slovenia", "Spain", "Sweden", "Switzerland", "United Kingdom"
]

### Données de PIB <a class="anchor" id="partie21"></a>

Nous extrayons les données relatives au PIB depuis Eurostat

In [ ]:
# Chargement des données 
df_GDP = pd.read_csv("Données_extraites/GDP_trimestriel_eurostat.csv", encoding='utf-8')

# Sélection des colonnes nécessaires avec les pays sélectionnés
df_GDP_selected = df_GDP[df_GDP['geo'].isin(countries_selected)][['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Modification du format pour avoir les périodes en index et les noms des pays en nom de colonnes
df_GDP = df_GDP_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')

# Transformation des colonnes en PIB_Nom_du_pays
df_GDP.columns = [f'PIB_{col}' for col in df_GDP.columns]
df_GDP.columns = [col.replace(" ", "_") for col in df_GDP.columns]

### Données de d'heure de travail <a class="anchor" id="partie22"></a>

Nous extrayons les données relatives aux heures de travail depuis Eurostat. Nous avons trois base de données pour les heures de travail. Une base annuelle de 1995 à 1997, et deux bases trimestrielles allant du Q1 de 1998 au Q4 de 2007 et du Q1 de 2008 au Q3 de 2024.

Nous voulons traiter les données dans l'ordre chronologique. Nous devons donc pour la première période récupérer les données annuelles et les transformer en trimestrielles, nous choisissons d'interpoler les données manquantes de manière linéaire en donnant la valeur annuelle au Q1. Pour cela nous avons besoin de traiter les données de 1998 à 2007 avant afin de pouvoir faire l'interpolation entre le Q1 de 1997 et celui de 1998.

Nous récupérons donc d'abord toutes les données

In [ ]:
# Chargement des données de 1995 à 1997 
df_working_hours_95_97 = pd.read_csv("Données_extraites/Working_hours_eurostat_1995-1997.csv", encoding='utf-8')

# Sélection des colonnes nécessaires avec les pays sélectionnés
df_working_hours_95_97_selected = df_working_hours_95_97[df_working_hours_95_97['geo'].isin(countries_selected)][['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Modification du format pour avoir les périodes en index et les noms des pays en nom de colonnes
df_working_hours_95_97_pivot = df_working_hours_95_97_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')

# Transformation des colonnes en WH_Nom_du_pays
df_working_hours_95_97_pivot.columns = [f'WH_{col}' for col in df_working_hours_95_97_pivot.columns]
df_working_hours_95_97_pivot.columns = [col.replace(" ", "_") for col in df_working_hours_95_97_pivot.columns]

# Même processus pour celles de 1998 à 2007 et celles de 2008 à 2024
df_working_hours_98_07 = pd.read_csv("Données_extraites/Working_hours_eurostat_1998-2007.csv", encoding='utf-8')
df_working_hours_98_07_selected = df_working_hours_98_07[df_working_hours_98_07['geo'].isin(countries_selected)][['geo', 'TIME_PERIOD', 'OBS_VALUE']]
df_working_hours_98_07_pivot = df_working_hours_98_07_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')
df_working_hours_98_07_pivot.columns = [f'WH_{col}' for col in df_working_hours_98_07_pivot.columns]
df_working_hours_98_07_pivot.columns = [col.replace(" ", "_") for col in df_working_hours_98_07_pivot.columns]

df_working_hours_08_24 = pd.read_csv("Données_extraites/Working_hours_eurostat_2008-2024.csv", encoding='utf-8')
df_working_hours_08_24_selected = df_working_hours_08_24[df_working_hours_08_24['geo'].isin(countries_selected)][['geo', 'TIME_PERIOD', 'OBS_VALUE']]
df_working_hours_08_24_pivot = df_working_hours_08_24_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')
df_working_hours_08_24_pivot.columns = [f'WH_{col}' for col in df_working_hours_08_24_pivot.columns]
df_working_hours_08_24_pivot.columns = [col.replace(" ", "_") for col in df_working_hours_08_24_pivot.columns]

Et maintenant nous configurons l'interpolation. Pour clarifier le point précédent, l'interpolation est linéaire, donc va tracer une droite entre deux périodes avec une valeur présente et inférer une valeur aux périodes pour laquelle la valeur est manquante et qui se trouvent entre nos deux périodes. Comme nous faisons le choix de donner la valeur annuelle au Q1 il faut ajouter une valeur de 1998 pour pouvoir inférer les valeurs du Q2, Q3 et Q4 de 1997, ce que nous faisons donc en ajoutant le Q1 de 1998 à notre table

In [ ]:
# Récupération du Q1 de 1998 et suppresion de la table pour éviter les doublons lors de la concaténation
Q1_1998 =  df_working_hours_98_07_pivot.loc[['1998-Q1']]
df_working_hours_98_07_pivot = df_working_hours_98_07_pivot.drop(index='1998-Q1', errors='ignore')

# Ajout des trimestres vierges aux données de 1995 à 1998 pour ensuite les compléter par interpolation
new_index = []
values = []
for year in df_working_hours_95_97_pivot.index:
    # Ajout du Q1 pour chaque année (avec la valeur annuelle)
    new_index.append(f"{year}-Q1")
    values.append(df_working_hours_95_97_pivot.loc[year].values)
    
    # Ajouts des Q2, Q3 et Q4 (lignes vides pour l'instant)
    for quarter in ['Q2', 'Q3', 'Q4']:
        new_index.append(f"{year}-{quarter}")
        values.append([None] * len(df_working_hours_95_97_pivot.columns))

# Création du dataframe avec les lignes vides
df_working_hours_95_97_pivot = pd.DataFrame(values, index=new_index, columns=df_working_hours_95_97_pivot.columns)
df_working_hours_95_97_pivot.index.name = 'TIME_PERIOD'

df_working_hours_95_97_pivot = pd.concat([df_working_hours_95_97_pivot, Q1_1998])

# Interpolation
df_working_hours_95_97_pivot = df_working_hours_95_97_pivot.interpolate(method='linear')

Maintenant nous procédons à la concaténation des données pour avoir un unique dataframe contenant les heures de travail trimestrielles de 1995 à 2024. Seulement nous devons supprimer les index de 2008 dans le dataframe de 1998 à 2007 car sinon ils seraient en double lors de la concaténation.

In [ ]:
# Suppresion des index
df_working_hours_98_07_pivot = df_working_hours_98_07_pivot.drop(index = ['2008-Q1','2008-Q2', '2008-Q3','2008-Q4'] , errors='ignore')

# Concaténation
df_working_hours = pd.concat(
    [df_working_hours_95_97_pivot, df_working_hours_98_07_pivot, df_working_hours_08_24_pivot], 
    axis=0
)

### Données des taux d'intérêts <a class="anchor" id="partie23"></a>

Pour les taux d'intérêts nous récupérons des taux de long-terme, à savoir des obligations d'Etat à 10 ans, et des taux de court-terme. Les taux à court terme sont généralement soit le taux interbancaire à trois mois lié aux prêts accordés et acceptés par les banques pour tout excès ou manque de liquidité sur plusieurs mois, soit le taux associé aux bons du Trésor, aux certificats de dépôt ou à des instruments comparables, chacun d'une durée de trois mois. Pour les pays de la zone euro, le « European Interbank Offered Rate » à trois mois est utilisé à partir de la date à laquelle le pays a rejoint l'euro.  

Nous commençons par récupérer les taux de long-terme puis ceux de court-terme

In [ ]:
# Chargement des données
df_LT_IR = pd.read_csv('Données_extraites/Long_term_IR_OCDE.csv', encoding='utf-8')

# Sélection des colonnes nécessaires avec les pays sélectionnés
df_LT_IR_selected = df_LT_IR[df_LT_IR['Reference area'].isin(countries_selected)][['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]

# Modification du format pour avoir les périodes en index et les noms des pays en nom de colonnes
df_LT_IR = df_LT_IR_selected.pivot_table(index='TIME_PERIOD', columns='Reference area', values='OBS_VALUE')

# Modification des colonnes pour inclure le préfixe LT_IR_ (=Long Term Interest Rate)
df_LT_IR.columns = [f'LT_IR_{col}' for col in df_LT_IR.columns]
df_LT_IR.columns = [col.replace(" ", "_") for col in df_LT_IR.columns]
df_LT_IR = df_LT_IR.rename(columns={'LT_IR_Slovak_Republic': 'LT_IR_Slovakia'})

# Même processus pour les taux de long-terme
df_ST_IR=pd.read_csv('Données_extraites/Short_term_IR_OCDE.csv', encoding='utf-8')
df_ST_IR_selected = df_ST_IR[df_ST_IR['Reference area'].isin(countries_selected)][['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]
df_ST_IR = df_ST_IR_selected.pivot_table(index='TIME_PERIOD', columns='Reference area', values='OBS_VALUE')
df_ST_IR.columns = [f'ST_IR_{col}' for col in df_ST_IR.columns]
df_ST_IR.columns = [col.replace(" ", "_") for col in df_ST_IR.columns]
df_ST_IR = df_ST_IR.rename(columns={'ST_IR_Slovak_Republic': 'ST_IR_Slovakia'})

### Données d'indice à la consommation des prix <a class="anchor" id="partie24"></a>

Nous récupérons les données relatives à l'indice à la consommation des prix, qui nécessite des modifications car les données actuelles sont mensuelles et non trimestrielles. Nous faisons le choix de les transformer en trimestrielles en attribuant les moyennes mensuelles sur trois mois à notre valeur.

In [ ]:
# Chargement des données
df_CPI=pd.read_csv('Données_extraites/CPI_annual_eurostat_1996-2024.csv', encoding='utf-8')

# Sélection des colonnes nécessaires avec les pays sélectionnés
df_CPI_selected = df_CPI[df_CPI['geo'].isin(countries_selected)][['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Modification du format pour avoir les périodes en index et les noms des pays en nom de colonnes
df_CPI = df_CPI_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')

# Transformation des colonnes en CPI_Nom_du_pays
df_CPI.columns = [f'CPI_{col}' for col in df_CPI.columns]
df_CPI.columns = [col.replace(" ", "_") for col in df_CPI.columns]

Nous transformons ici les données mensuelles en trimestrielles.

In [ ]:
# Conversion des mois en trimestre
df_CPI.index = pd.PeriodIndex(df_CPI.index, freq='Q')

# Pour chaque trimestre on a donc 3 valeurs on fait donc la moyenne
df_CPI = df_CPI.groupby(df_CPI.index).mean()

# Modification du format de l'index qui est YYYYQQ en YYYY-QQ pour l'accorder aux autres tables
df_CPI.index = df_CPI.index.astype(str).str.replace(r'(\d{4})Q(\d)', r'\1-Q\2', regex=True)

### Données de croissance potentielle <a class="anchor" id="partie25"></a>

Nous récupérons les données relatives à l'étude de la croissance potentielle sur un dataframe de la banque mondiale. Il nous faut faire attenion aux noms donnés à la Tchéquie et la Slovaquie qui sont Czech Republic et Slovak Republic et non Czechia et Slovakia comme nous le nommons dans notre nomenclature.

De plus les données sont annuelles, donc pour les rendre trimestrielles nous les divisons par 4.

In [5]:
# Chargement des données 
df_potential_growth= pd.read_excel("Données_extraites/potential_growth_database.xlsx",sheet_name="PotentialGrowthMeasures")

# Modification des colonnes (pour garder une homogénéité entre les différents df)
df_potential_growth= df_potential_growth.rename(columns={'Country':'geo', 'Year':'TIME_PERIOD','HP: Potential real GDP growth (percent)':'OBS_VALUE'})
df_potential_growth = df_potential_growth[df_potential_growth['TIME_PERIOD'] >= 1995]

# Choix des colonnes nécessaires avec les pays sélectionnés. 
df_potential_growth_selected = df_potential_growth[df_potential_growth['geo'].isin(countries_selected)][['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Modification du format pour avoir les périodes en index et les noms des pays en nom de colonnes
df_potential_growth= df_potential_growth_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')

# Transformation des colonnes en P_Growth_pays
df_potential_growth = df_potential_growth.rename(columns={'Czech Republic': 'Czechia'})
df_potential_growth = df_potential_growth.rename(columns={'Slovak Republic': 'Slovakia'})
df_potential_growth.columns = [f'P_Growth_{col}' for col in df_potential_growth.columns]
df_potential_growth.columns = [col.replace(" ", "_") for col in df_potential_growth.columns]

On s'occupe maintenant de transformer les index dans un format trimestriel, pour cela on va procéder à une interpolation polynomiale

In [ ]:
# Assurer que l'index est bien au format datetime pour éviter les erreurs
df_potential_growth.index = pd.to_datetime(df_potential_growth.index, format="%Y")

# Répéter chaque ligne 4 fois pour chaque trimestre
df_quarterly = df_potential_growth.loc[df_potential_growth.index.repeat(4)].copy()

# Générer les trimestres dynamiquement pour correspondre au bon nombre de lignes
quarters = ['Q1', 'Q2', 'Q3', 'Q4'] * (len(df_potential_growth))
df_quarterly['Quarter'] = quarters[:len(df_quarterly)] 

# Diviser toutes les colonnes numériques par 4
for col in df_potential_growth.columns:
    df_quarterly[col] = df_quarterly[col] / 4

# Construire l'index trimestriel
df_quarterly.index = [f"{year.year}-{q}" for year, q in zip(df_potential_growth.index.repeat(4), df_quarterly['Quarter'])]

# Supprimer la colonne "Quarter" qui n'est plus nécessaire
df_quarterly.drop(columns=['Quarter'], inplace=True)

df_potential_growth = df_quarterly.copy()

In [23]:
# Assurer que l'index est au format datetime
df_potential_growth.index = pd.to_datetime(df_potential_growth.index, format="%Y")

# Convertir les années en format numérique pour l'interpolation
years = df_potential_growth.index.year

# Générer un nouvel index trimestriel (ex: 2000.0, 2000.25, 2000.5, 2000.75, ...)
new_index = np.arange(years.min(), years.max() + 0.75, 0.25)

# DataFrame final avec interpolations
df_interpolated = pd.DataFrame(index=new_index)

# Fonction pour calculer l'AIC
def compute_aic(y_true, y_pred, k):
    n = len(y_true)
    mse = mean_squared_error(y_true, y_pred)
    aic = n * np.log(mse) + 2 * k
    return aic

# Boucle sur chaque colonne du DataFrame
best_degrees = {}  # Dictionnaire pour stocker le meilleur degré pour chaque colonne
for col in df_potential_growth.columns:
    values = df_potential_growth[col].dropna().values  # Supprimer les NaN
    valid_years = df_potential_growth[col].dropna().index.year  # Années valides (sans NaN)
    
    if len(values) < 2:  # Vérifier qu'on a assez de points pour interpoler
        print(f"Pas assez de données pour interpoler {col}")
        df_interpolated[col] = np.nan
        continue
    
    # Trouver le degré optimal du polynôme
    best_degree = None
    best_aic = np.inf
    for deg in range(1, min(4, len(values))):  # Limiter le degré max à éviter les erreurs
        try:
            poly_fit = np.polyfit(valid_years, values, deg=deg)
            poly_model = np.poly1d(poly_fit)
            predictions = poly_model(valid_years)

            if np.isnan(predictions).any():  # Vérifier si le polynôme donne NaN
                continue

            aic = compute_aic(values, predictions, deg + 1)  # k = deg + 1 paramètres du polynôme
            if aic < best_aic:
                best_aic = aic
                best_degree = deg
        except:
            continue  # Si une erreur survient, on passe au degré suivant

    best_degrees[col] = best_degree  # Stocker le meilleur degré trouvé
    
    # Appliquer l'interpolation polynomiale sur l'index trimestriel
    if best_degree is not None:
        best_poly_fit = np.polyfit(valid_years, values, best_degree)
        best_poly_model = np.poly1d(best_poly_fit)
        df_interpolated[col] = best_poly_model(new_index)
    else:
        df_interpolated[col] = np.nan  # Si pas de modèle valide, mettre NaN

# Générer les labels trimestriels "YYYY-Qx"
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
quarter_labels = [f"{int(year)}-{q}" for year in new_index for q in quarters][:len(df_interpolated)]
df_interpolated.index = quarter_labels  # Appliquer les labels trimestriels

In [24]:
df_interpolated

,P_Growth_Austria,P_Growth_Belgium,P_Growth_Bulgaria,P_Growth_Czechia,P_Growth_Denmark,P_Growth_Estonia,P_Growth_Finland,P_Growth_France,P_Growth_Germany,P_Growth_Greece,...,P_Growth_Norway,P_Growth_Poland,P_Growth_Portugal,P_Growth_Romania,P_Growth_Slovakia,P_Growth_Slovenia,P_Growth_Spain,P_Growth_Sweden,P_Growth_Switzerland,P_Growth_United_Kingdom
1995-Q1,2.537808,2.472040,4.208218,-0.535359,3.499599,5.179260,4.051294,2.277348,1.850978,2.595246,...,4.367114,4.361677,4.104443,-0.878275,2.738296,3.085727,3.253955,2.930006,1.074443,3.535958
1995-Q2,2.549322,2.485104,4.408204,-0.279126,3.410234,5.323708,4.096866,2.300522,1.797714,2.850794,...,4.277852,4.350320,4.017848,-0.584846,2.869240,3.211422,3.335413,2.959760,1.138621,3.484991
1995-Q3,2.559001,2.496387,4.595925,-0.033323,3.322411,5.456657,4.136142,2.321061,1.746953,3.086500,...,4.189850,4.338962,3.930888,-0.302486,2.994803,3.327799,3.409695,2.986914,1.200537,3.434556
1995-Q4,2.566884,2.505928,4.771623,0.202229,3.236131,5.578363,4.169273,2.339022,1.698644,3.302809,...,4.103107,4.327605,3.843612,-0.031012,3.115063,3.435067,3.476958,3.011524,1.260221,3.384654
1995-Q1,2.573010,2.513766,4.935537,0.427708,3.151393,5.689082,4.196409,2.354465,1.652738,3.500165,...,4.017623,4.316247,3.756069,0.229762,3.230096,3.533436,3.537357,3.033645,1.317706,3.335283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001-Q3,0.968013,1.235680,2.612956,2.467832,2.328887,4.653425,1.983992,1.141845,0.630756,2.782501,...,1.748647,3.203216,1.833218,3.616306,1.454337,4.054811,1.537043,2.081372,1.449721,1.078950
2001-Q4,0.993584,1.265211,2.797347,2.577939,2.396839,4.944137,2.158783,1.198513,0.572377,3.303977,...,1.787825,3.191859,1.962641,3.728136,1.428673,4.314484,1.694721,2.131189,1.447650,1.082273
2001-Q1,1.021304,1.296885,2.993937,2.695789,2.466334,5.249472,2.342553,1.258533,0.511345,3.850954,...,1.828263,3.180501,2.096714,3.847659,1.405393,4.586314,1.861228,2.184055,1.446574,1.086128
2001-Q2,1.051213,1.330738,3.202964,2.821559,2.537371,5.569687,2.535451,1.321963,0.447608,4.423876,...,1.869960,3.169144,2.235486,3.975058,1.384575,4.870511,2.036719,2.240024,1.446526,1.090515
2001-Q3,1.083350,1.366811,3.424669,2.955428,2.609950,5.905037,2.737627,1.388861,0.381115,5.023188,...,1.912916,3.157786,2.379006,4.110517,1.366294,5.167286,2.221352,2.299154,1.447538,1.095435

In [12]:
df_potential_growth

,P_Growth_Austria,P_Growth_Belgium,P_Growth_Bulgaria,P_Growth_Czechia,P_Growth_Denmark,P_Growth_Estonia,P_Growth_Finland,P_Growth_France,P_Growth_Germany,P_Growth_Greece,...,P_Growth_Norway,P_Growth_Poland,P_Growth_Portugal,P_Growth_Romania,P_Growth_Slovakia,P_Growth_Slovenia,P_Growth_Spain,P_Growth_Sweden,P_Growth_Switzerland,P_Growth_United_Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-01-01,2.360928,2.339321,NaN,NaN,2.957629,5.061672,2.937077,1.746396,1.459373,3.158518,...,4.292803,NaN,3.210373,1.013722,3.893172,3.212999,2.900370,2.232007,0.852951,2.704647
1996-01-01,2.459638,2.422917,NaN,1.125460,3.015315,5.369342,4.035947,2.089392,1.479806,3.288860,...,4.254137,4.625618,3.431176,0.588964,3.907367,3.396115,3.126640,2.815360,1.248931,3.073300
1997-01-01,2.612486,2.556088,NaN,1.066793,2.947066,5.638433,4.730686,2.472832,1.589400,3.473486,...,3.937452,4.572547,3.659956,0.073450,3.667582,3.638313,3.489376,3.266870,1.689065,3.306890
1998-01-01,2.740453,2.639939,NaN,1.210513,2.780920,5.597521,4.938943,2.782965,1.687349,3.634147,...,3.428437,4.370467,3.696671,0.032362,3.177997,3.806076,3.847952,3.554079,2.018587,3.344878
1999-01-01,2.738472,2.641131,NaN,1.648120,2.548754,5.645185,4.721418,2.895429,1.704741,3.805422,...,2.922262,4.030806,3.431997,0.701971,2.744776,3.883724,4.075547,3.612183,2.144157,3.243286
2000-01-01,2.569911,2.513201,5.588434,2.233453,2.229925,6.076360,4.250575,2.765442,1.574237,4.040265,...,2.522379,3.620347,2.891222,1.878871,2.741084,3.863152,4.107260,3.459679,2.064048,3.063723
2001-01-01,2.306348,2.299916,5.657983,2.801998,1.871061,6.609095,3.682472,2.445896,1.277210,4.284884,...,2.238953,3.281657,2.199695,3.223869,3.261119,3.809042,3.954390,3.198078,1.818643,2.858081
2002-01-01,2.118171,2.173532,5.794956,3.392812,1.638561,7.090219,3.244927,2.119239,0.973242,4.467423,...,2.120003,3.250280,1.550814,4.465154,4.097230,3.819916,3.735817,3.027192,1.636561,2.703819
2003-01-01,2.095413,2.192158,5.998515,4.063892,1.622026,7.374595,3.064021,1.923215,0.857081,4.478292,...,2.164259,3.562117,1.142352,5.491370,5.016159,3.946774,3.559368,2.998230,1.733882,2.580308
2004-01-01,2.208456,2.279079,6.172231,4.669152,1.717473,7.251317,3.023416,1.839645,0.980697,4.168823,...,2.265761,4.040720,1.013918,6.234157,5.841446,4.137757,3.409096,3.012419,2.086036,2.394356
2005-01-01,2.307009,2.282599,6.129148,4.935494,1.680679,6.493785,2.893611,1.739696,1.223586,3.514199,...,2.239150,4.516097,0.987916,6.449693,6.407978,4.215238,3.158991,2.912828,2.474150,2.084278
2006-01-01,2.224426,2.126822,5.702803,4.612344,1.338970,4.839816,2.507909,1.527292,1.368931,2.483987,...,2.006201,4.848613,0.902023,6.055759,6.485467,3.913899,2.643664,2.582850,2.679165,1.601927
2007-01-01,1.862609,1.791212,4.811694,3.663751,0.698211,2.376640,1.757863,1.161936,1.222295,0.887285,...,1.576613,4.859170,0.609028,4.992648,5.874020,2.999359,1.773206,1.990898,2.564852,0.972688
2008-01-01,1.307623,1.352719,3.525460,2.362079,0.024154,-0.090681,0.743757,0.742684,0.896165,-1.207478,...,1.068624,4.529071,0.076834,3.337318,4.639482,1.561298,0.660049,1.363342,2.190503,0.376411
2009-01-01,0.881216,1.067793,2.207451,1.232068,-0.311662,-1.287918,-0.033469,0.516446,0.784903,-3.365200,...,0.731871,4.055224,-0.498198,1.601191,3.367191,0.199745,-0.346498,1.111739,1.830330,0.144545
2010-01-01,0.812234,1.033898,1.334207,0.668384,-0.141279,-0.731062,-0.232300,0.584665,1.069649,-5.063198,...,0.721334,3.617632,-0.937566,0.646009,2.597583,-0.508477,-0.945081,1.314170,1.697254,0.424691
2011-01-01,0.881871,1.065903,0.907303,0.546918,0.257451,0.563211,-0.219026,0.735407,1.378207,-5.802664,...,0.961032,3.213886,-1.224824,0.701001,2.180219,-0.688408,-1.130851,1.551006,1.679026,0.940901
2012-01-01,0.904010,1.103685,0.775018,0.760472,0.706210,1.635743,-0.198905,0.836932,1.517030,-5.316601,...,1.253279,2.872880,-1.164157,1.394411,2.016599,-0.473597,-0.875720,1.716457,1.717750,1.481402
2013-01-01,0.945156,1.188792,0.954465,1.335180,1.196779,2.323029,-0.025223,0.927470,1.601660,-3.949438,...,1.466383,2.764271,-0.609590,2.320128,2.131039,0.189204,-0.152768,1.968807,1.802112,1.941241
2014-01-01,1.070448,1.313913,1.410129,2.126285,1.684510,2.798600,0.361781,1.026975,1.685658,-2.390930,...,1.578522,2.934241,0.230083,3.188963,2.441138,1.136173,0.814329,2.273863,1.870242,2.214768
2015-01-01,1.236402,1.396222,1.928472,2.801919,2.072019,3.165866,0.873153,1.107970,1.713258,-1.133015,...,1.574202,3.239549,1.031259,3.866384,2.695576,2.061268,1.617011,2.450172,1.874866,2.215952
2016-01-01,1.344508,1.378279,2.268966,3.099052,2.268302,3.441109,1.318165,1.132966,1.629220,-0.280626,...,1.503080,3.536578,1.575733,4.291199,2.700372,2.788125,1.933059,2.391096,1.816769,1.939702
2017-01-01,1.270966,1.267719,2.341040,2.981891,2.228395,3.579912,1.501009,1.050437,1.370347,0.206276,...,1.427398,3.711700,1.732346,4.334110,2.483109,3.179342,1.708004,2.162431,1.697048,1.448988
2018-01-01,0.977711,1.093067,2.184939,2.490750,2.018526,3.506923,1.404325,0.826330,0.944345,0.399120,...,1.338715,3.655144,1.488114,3.929218,2.084033,3.183486,1.095391,1.852044,1.517415,0.870479
2019-01-01,0.613514,0.926372,1.917572,1.878181,1.793798,3.313358,1.215944,0.587143,0.533241,0.494947,...,1.317739,3.386371,1.055694,3.281336,1.601853,2.976475,0.430977,1.588810,1.329629,0.423547
2020-01-01,0.537927,0.949229,1.788295,1.570301,1.724837,3.227930,1.148308,0.649295,0.415651,0.853007,...,1.476075,3.153211,0.870171,2.781950,1.350567,2.929420,0.252309,1.557280,1.306058,0.460757
2021-01-01,0.978200,1.257199,2.057628,1.862373,1.881100,3.366753,1.274144,1.129742,0.718835,1.685755,...,1.785236,3.209538,1.230194,2.720256,1.572701,3.196670,0.891592,1.825308,1.518454,1.127872

## Création de la base de données <a class="anchor" id="partie3"></a>

Maintenant que tous les dataframes sont construits pour les variables d'intérêts nous concaténons les dataframes pour en avoir un unique qui servira de base de données pour la suite

In [ ]:
# Concaténation des DataFrames
df_concat = pd.concat([df_GDP, df_CPI,df_LT_IR, df_ST_IR, df_working_hours, df_potential_growth], axis=1)

# Réorganisation des colonnes pour que celles de chaque pays soient côte à côte
ordered_columns = []

# Modification la liste de base pour qu'elle corresponde au format de notre dataframe
countries_selected.remove('Slovak Republic')
countries_selected.remove('United Kingdom')
countries_selected.remove('Czech Republic')
countries_selected.append('United_Kingdom')

# Tri
for country in countries_selected:
    ordered_columns.append(f'CPI_{country}')
    ordered_columns.append(f'PIB_{country}')
    ordered_columns.append(f'LT_IR_{country}')
    ordered_columns.append(f'ST_IR_{country}')
    ordered_columns.append(f'WH_{country}')
    ordered_columns.append(f'P_Growth_{country}')

df_final = df_concat[ordered_columns]

# Exportation
df_final.to_excel('base_de_données_v1.xlsx', index=True, engine='openpyxl')