In [2]:
import pandas as pd

In [43]:
#Extration des données relatives au GDP (Données Eurostat)

'''
Informations générales
Online data code:namq_10_gdp
Unit of measure: Current prices-million euro
'''

df_GDP= pd.read_csv("Données_extraites/GDP_trimestriel_eurostat.csv", encoding='utf-8')
#print(df_GDP.head())


# Choix des colonnes rélévantes
df_GDP_selected = df_GDP[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_GDP_selected.head())

# Obtention des données de panel
df_GDP_pivot = df_GDP_selected.pivot_table(index='geo', columns='TIME_PERIOD', values='OBS_VALUE', aggfunc='first')

# Renomer l'index des colonnes
df_GDP_pivot = df_GDP_pivot.rename_axis(index={'geo': 'COUNTRY'})

# Vérification
#print(df_GDP_pivot.head())
df_GDP_pivot

TIME_PERIOD,1995-Q1,1995-Q2,1995-Q3,1995-Q4,1996-Q1,1996-Q2,1996-Q3,1996-Q4,1997-Q1,1997-Q2,...,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3,2024-Q4
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4680.7,4896.7,4489.3,5549.8,5753.3,6084.2,5428.8,6513.1,6462.9,NaN
Austria,43186.6,46786.8,46335.5,47362.4,44641.2,46885.1,46969.6,47418.5,44369.0,47083.7,...,112853.9,119479.2,116227.2,118517.9,116201.4,122280.3,117304.1,120746.2,118315.9,NaN
Belgium,53331.5,56119.3,53741.7,57115.3,54240.0,55590.7,53541.2,56570.4,53907.0,56389.4,...,137028.3,153583.7,144828.4,150334.1,143072.4,158085.7,147812.8,154840.7,147978.8,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6093.9,6296.7,5975.6,6327.9,6616.7,6603.6,6224.7,6505.9,6744.2,NaN
Bulgaria,3175.8,3162.8,3796.9,4339.3,3757.2,2561.8,2300.0,2244.4,1189.0,2194.9,...,23369.4,25413.4,20449.0,22188.0,24881.4,27190.9,22171.0,24615.2,27492.5,NaN
Croatia,3998.7,4481.5,4599.3,4443.3,4155.4,4725.6,5437.0,4867.7,4636.7,5288.8,...,19765.6,17227.7,16482.8,19389.2,22672.3,19504.2,18370.7,21259.2,24637.9,NaN
Cyprus,1730.6,1928.9,1984.4,1951.0,1806.6,1983.4,2048.2,2054.3,1919.1,2098.0,...,7857.7,7542.2,7402.0,7640.1,8279.6,8018.3,7847.3,8266.2,8716.5,NaN
Czechia,10278.9,11487.7,12011.0,12547.9,11817.6,13243.9,13960.7,14420.8,13320.8,13884.5,...,73813.8,76792.1,74543.5,81790.1,80099.0,80924.4,73617.4,81119.0,81382.2,NaN
Denmark,34078.4,35871.0,34625.0,36803.0,35666.0,37325.6,36598.3,38114.5,36754.1,39022.5,...,97343.4,99439.3,93296.3,94838.6,91420.0,96868.6,91782.6,98319.4,98324.5,NaN
Estonia,647.2,766.7,764.9,810.2,810.8,959.6,992.8,1004.8,978.5,1166.6,...,9463.1,9868.5,8845.8,9495.5,9679.1,10167.4,8928.0,9770.0,10060.0,NaN
Finland,23318.9,25836.6,25861.4,27610.4,24429.5,25419.7,25942.1,28239.7,25496.3,27613.3,...,66397.0,70764.0,65609.0,69404.0,67522.0,70783.0,65941.0,69823.0,69123.0,NaN
France,302514.4,305681.9,298966.5,313056.6,314916.7,316895.8,307733.7,320253.0,314014.3,321642.6,...,657742.6,697393.5,684694.1,703095.2,693856.5,740808.8,716382.2,721972.0,720508.5,757694.4
Germany,476161.9,491129.7,498991.2,517170.0,480003.1,484033.2,499788.3,511149.4,467793.8,485247.7,...,995320.0,1027700.0,1034140.0,1024060.0,1048710.0,1078640.0,1064830.0,1060790.0,1078220.0,1101420.0
Greece,24031.8,24618.7,26687.8,27786.3,25075.7,26704.4,29322.9,31231.9,27921.1,28871.7,...,56924.4,54037.8,49804.0,55600.2,61488.8,58303.8,52306.4,58822.2,65028.6,NaN
Hungary,8738.4,8771.5,8595.5,9404.8,8703.4,9258.2,9042.9,9859.0,9788.2,10459.8,...,42586.4,46031.1,40347.0,50104.9,51044.5,55365.1,44647.3,52312.2,52780.5,NaN
Iceland,1264.3,1352.7,1412.7,1411.1,1381.3,1439.8,1489.1,1524.7,1536.9,1631.0,...,7517.4,6859.3,6781.7,7194.1,7811.5,7211.3,7085.6,7549.3,7934.9,NaN
Ireland,12803.0,13418.5,13157.4,13490.6,14119.0,15056.9,14664.8,15906.3,17185.3,18228.0,...,138568.7,134768.6,127607.9,125575.8,129967.2,126800.9,125215.9,125816.9,137795.5,NaN
Italy,211263.5,214037.6,223373.8,251564.4,233989.0,258777.7,258016.2,286219.5,252762.8,273017.5,...,500018.6,539097.1,504927.4,528327.9,530550.8,564195.5,521109.4,541565.0,545882.9,NaN
Kosovo*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2527.0,2456.9,1935.7,2284.8,2757.8,2701.8,2093.8,2423.8,2930.2,NaN
Latvia,930.2,1022.8,988.3,1064.8,990.7,1140.8,1143.6,1290.9,1174.5,1385.8,...,9486.9,9538.1,8894.1,9830.7,9799.3,10548.3,8821.2,10036.7,10099.5,NaN
Lithuania,1057.4,1190.2,1472.0,1429.3,1351.7,1587.4,1887.8,1817.4,1798.9,2168.5,...,18409.3,17882.5,16607.7,18225.4,19674.6,19285.1,17505.8,19227.8,20844.1,20245.9
Luxembourg,3740.0,4065.9,3781.6,4363.6,4118.0,4049.7,4107.9,4185.9,4141.8,4314.0,...,19341.1,20378.4,19105.3,19952.7,19341.5,20910.1,19742.0,21047.7,20404.5,NaN
Malta,663.4,714.2,759.6,700.2,693.6,761.3,802.8,753.3,762.0,841.1,...,4800.5,4791.1,4687.6,5084.7,5440.4,5329.5,5271.8,5670.6,5875.4,NaN
Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1868.9,1586.1,1244.9,1715.5,2213.1,1790.2,1361.7,1847.2,2357.9,NaN
Netherlands,83633.0,86665.8,85510.2,90770.1,86437.3,89064.0,87864.2,92200.5,88419.7,92256.2,...,247025.0,260324.0,257132.0,271527.0,263943.0,274997.0,272600.0,287978.0,279661.0,NaN
North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3354.5,3786.3,3227.8,3555.9,3744.9,4055.5,3398.8,3748.9,3977.9,NaN
Norway,28755.9,28112.2,28780.8,30592.3,31004.3,30646.5,32189.7,34865.3,34642.5,35085.1,...,156907.8,139399.1,121366.4,104908.8,105360.1,117286.9,110985.6,112028.9,NaN,NaN
Poland,25719.3,26686.2,27953.2,28800.9,29805.2,31350.0,31301.2,34046.9,33185.0,35077.8,...,166578.2,186744.1,169161.7,179783.9,188725.1,212778.5,192872.2,200743.9,211291.8,NaN
Portugal,21844.5,22939.5,22831.1,23393.0,22578.3,24040.6,24542.4,25468.8,24546.3,26013.3,...,62642.8,64210.2,62337.9,67215.0,68439.4,69392.1,66207.1,70879.5,72667.6,NaN
Romania,6370.1,6573.1,8410.6,7093.1,5736.8,6425.8,8686.6,7904.7,5662.8,6508.7,...,76851.6,84376.9,64521.6,75471.5,86843.0,97353.1,70386.4,84568.9,94793.7,NaN
Serbia,6454.4,7824.6,8671.4,6061.2,3836.3,4650.3,5328.8,5999.3,5212.8,5750.4,...,16056.4,17568.7,17112.8,18633.8,18904.7,20553.9,18778.1,20490.7,20655.3,NaN
Slovakia,3608.0,4193.6,3935.9,3773.0,4047.6,4330.7,4498.2,4344.9,4489.9,4895.9,...,29101.3,28959.2,27576.9,30480.7,32523.6,32337.7,29968.5,32467.5,33655.5,NaN
Slovenia,3698.7,4215.6,4192.8,4243.8,3796.9,4288.5,4344.9,4476.0,4120.3,4778.4,...,14916.8,14890.4,14740.3,16325.4,16310.8,16574.7,15715.2,16806.2,17042.5,NaN
Spain,109201.7,118545.9,115932.3,126388.4,120868.5,128276.5,123890.6,133000.9,122997.2,131170.7,...,341733.0,368102.0,356732.0,375898.0,369626.0,396068.0,377866.0,400518.0,393855.0,420897.0
Sweden,49061.2,49347.7,47946.2,58220.1,55464.8,57752.4,55377.5,61440.4,55717.5,58951.8,...,133966.2,145180.8,132773.6,137213.2,127272.0,143722.2,137093.7,142633.5,134682.5,NaN
Switzerland,64546.7,67655.1,67566.8,70342.0,67670.1,67654.2,67027.2,65833.5,61471.8,64510.2,...,203363.8,206289.5,200651.5,204814.1,208020.5,213788.9,212946.8,211841.3,216999.8,NaN
Türkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236398.4,252265.5,231336.0,242946.4,265777.4,278047.3,263622.5,284656.9,322795.0,NaN
United Kingdom,257589.8,248722.5,255889.4,263308.8,262343.7,270422.9,277865.2,306097.3,323587.7,335529.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dans ce qui suit: nous allons essayer de concatener trois datasets:
- 2 comportant des données trimestrielles (1998-2008 et 2008-2024)
- 1 comporatant des données annuelles (1995-1998)

Nous avons gardé la même source (Eurostat) afin d'avoir des estimations homogènes

In [6]:
#Extration des données Working Hours per year (Données Eurostat: 1995-1998)
'''
Informations générales
Lien:https://doi.org/10.2908/LFSA_EWHANA
Code: lfsa_ewhana
'''

df_working_hours_eurostat_an= pd.read_csv("Données_extraites/Working_hours_eurostat_1995-1998.csv", encoding='utf-8')
#print(df_GDP.head())

# Choix des colonnes rélévantes
df_working_hours_selected_eurostat_an= df_working_hours_eurostat_an[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_GDP_selected.head())

# Obtention des données de panel
df_working_hours_pivot_eurostat_an = df_working_hours_selected_eurostat_an.pivot_table(index='geo', columns='TIME_PERIOD', values='OBS_VALUE', aggfunc='first')

# Renomer l'index des colonnes
df_working_hours_pivot_eurostat_an= df_working_hours_pivot_eurostat_an.rename_axis(index={'geo': 'COUNTRY'})

# Vérification
#print(df_GDP_pivot.head())
df_working_hours_pivot_eurostat_an

TIME_PERIOD     1995  1996  1997
COUNTRY
Austria         40.0  39.8  40.2
Belgium         37.8  37.8  37.9
Czechia          NaN   NaN  43.4
Denmark         34.3  34.0  34.4
Estonia          NaN   NaN  41.3
Finland         36.9  37.6  39.4
France          39.7  39.6  39.2
Germany         38.7  38.7  38.6
Greece          42.3  41.9  41.8
Hungary          NaN  41.2  42.0
Iceland         41.2  42.1  41.8
Ireland         39.6  40.1  39.5
Italy           39.3  38.8  39.2
Luxembourg      39.7  39.3  39.2
Netherlands     30.5  32.3  32.3
Norway          34.4  34.9  35.7
Poland           NaN   NaN  42.2
Portugal        41.6  40.8  40.0
Romania          NaN   NaN  40.3
Slovenia         NaN  42.2  40.5
Spain           38.3  38.0  38.3
Sweden          34.0  34.4  36.3
Switzerland      NaN  37.0  37.1
United Kingdom  36.9  36.7  36.5

In [7]:
#Interpolation (Données annuelles--> trimestrielles)

'''
à corriger 
'''
df_working_hours_pivot_eurostat_an.columns=pd.to_datetime(
    df_working_hours_pivot_eurostat_an.columns.astype(str), format='%Y'
)

df_working_hours_pivot_eurostat_an=df_working_hours_pivot_eurostat_an.T

df_working_hours_pivot_eurostat_an= df_working_hours_pivot_eurostat_an.asfreq('Q')

df_working_hours_pivot_eurostat_an_interpolation=df_working_hours_pivot_eurostat_an.interpolate(method='linear')

df_working_hours_pivot_eurostat_an_interpolation.index = (
    df_working_hours_pivot_eurostat_an_interpolation.index.to_period('Q'))

df_working_hours_pivot_eurostat_an_interpolation=df_working_hours_pivot_eurostat_an_interpolation.T

print(df_working_hours_pivot_eurostat_an_interpolation)

TIME_PERIOD     1995Q1  1995Q2  1995Q3  1995Q4  1996Q1  1996Q2  1996Q3  1996Q4
COUNTRY
Austria            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Belgium            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Czechia            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Denmark            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Estonia            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Finland            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
France             NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Germany            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Greece             NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Hungary            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Iceland            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Ireland            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Italy              NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Luxembourg         NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Netherlands        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Norway             NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Poland             NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Portugal           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Romania            NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Slovenia           NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Spain              NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Sweden             NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Switzerland        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
United Kingdom     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

/tmp/ipykernel_5469/1882644283.py:12: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  df_working_hours_pivot_eurostat_an= df_working_hours_pivot_eurostat_an.asfreq('Q')

In [8]:
#Extration des données Working Hours per year (Données Eurostat à partir de 2008)

'''
Informations générales: données trimestrielles à partir de 2008
Online data code:lfsq_ewhan2
Unit of measure_ Hours per year per person
'''

df_working_hours_eurostat_1= pd.read_csv("Données_extraites/Working_hours_eurostat.csv", encoding='utf-8')
#print(df_GDP.head())

# Choix des colonnes rélévantes
df_working_hours_selected_eurostat_1= df_working_hours_eurostat_1[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_GDP_selected.head())

# Obtention des données de panel
df_working_hours_pivot_eurostat_1 = df_working_hours_selected_eurostat_1.pivot_table(index='geo', columns='TIME_PERIOD', values='OBS_VALUE', aggfunc='first')

# Renomer l'index des colonnes
df_working_hours_pivot_eurostat_1= df_working_hours_pivot_eurostat_1.rename_axis(index={'geo': 'COUNTRY'})

# Vérification
#print(df_GDP_pivot.head())
df_working_hours_pivot_eurostat_1

TIME_PERIOD,2008-Q1,2008-Q2,2008-Q3,2008-Q4,2009-Q1,2009-Q2,2009-Q3,2009-Q4,2010-Q1,2010-Q2,...,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Austria,37.6,37.7,38.7,37.2,36.7,36.3,38.1,36.2,36.6,36.3,...,33.3,34.4,33.0,34.1,33.0,34.1,32.9,34.0,32.9,34.5
Belgium,36.7,36.7,37.2,36.5,36.9,36.1,37.3,36.5,37.5,36.5,...,34.6,34.4,34.0,35.8,34.3,34.4,34.1,35.0,33.8,34.3
Bulgaria,40.7,41.0,41.8,41.0,39.8,40.0,41.2,40.6,40.2,40.5,...,38.6,39.5,39.1,39.4,38.3,39.3,39.0,39.3,38.5,39.2
Croatia,39.6,40.5,40.7,39.7,39.3,39.8,40.7,39.7,39.4,39.7,...,37.5,38.5,37.4,38.7,37.1,39.1,37.6,38.1,37.5,38.2
Cyprus,38.6,38.4,40.7,38.7,37.8,38.1,40.5,38.4,37.8,39.0,...,37.4,39.0,37.7,38.0,37.4,39.5,38.7,37.7,37.2,39.1
Czechia,41.3,41.5,42.3,40.7,40.9,40.7,41.2,39.9,41.3,41.3,...,38.0,37.0,37.1,39.0,37.1,37.0,37.8,37.7,37.4,38.2
Denmark,34.3,35.0,36.2,34.8,34.8,33.6,35.7,34.6,34.8,34.7,...,33.2,33.9,33.2,33.8,32.4,34.0,33.0,32.6,32.8,33.5
Estonia,39.3,39.6,40.1,38.4,37.6,37.5,38.8,37.6,38.9,38.2,...,36.1,37.5,36.6,36.3,35.7,37.0,36.3,35.9,36.4,36.7
Finland,35.8,36.9,38.2,36.5,35.9,35.6,37.6,35.9,36.0,36.4,...,34.1,35.4,33.6,34.6,33.5,35.3,33.6,34.2,34.2,35.1
France,36.7,36.3,37.5,36.5,36.9,35.5,37.4,36.2,37.3,36.4,...,35.6,36.1,35.7,36.5,34.8,36.0,35.9,36.2,34.7,36.3
Germany,35.8,36.0,36.6,36.2,35.5,34.9,35.9,35.7,35.5,35.5,...,34.1,34.8,34.1,34.1,33.6,34.4,33.5,33.7,33.5,34.2
Greece,40.2,41.0,42.3,40.8,39.7,40.6,42.5,40.3,39.7,41.1,...,39.5,40.9,39.4,39.3,39.6,40.7,39.5,38.9,40.0,41.2
Hungary,40.0,40.0,40.2,40.0,39.8,39.7,39.6,39.5,39.6,39.6,...,38.0,39.1,38.2,38.7,37.3,38.8,36.4,37.0,37.8,38.2
Iceland,39.8,41.5,42.5,38.6,37.9,38.9,40.1,38.1,37.9,39.4,...,35.2,36.5,35.2,36.1,34.5,36.6,34.4,34.0,35.4,36.9
Ireland,35.4,36.1,36.8,35.6,34.9,35.1,35.7,34.5,34.9,35.1,...,35.6,35.9,35.0,34.8,35.1,35.4,34.3,34.3,34.5,35.0
Italy,37.4,37.6,38.5,37.1,36.9,37.2,38.0,36.9,37.2,37.4,...,36.0,36.7,35.7,36.4,35.6,36.7,35.5,36.3,35.9,36.0
Latvia,39.2,39.5,40.9,38.9,38.7,39.1,39.9,38.3,38.3,38.2,...,38.5,39.1,38.3,38.6,37.7,38.9,38.4,38.3,38.1,38.7
Lithuania,38.9,39.4,39.6,39.2,38.7,38.5,38.9,38.5,38.1,38.6,...,38.4,38.3,38.0,38.4,38.6,38.7,37.6,37.8,38.3,38.8
Luxembourg,37.5,36.9,37.3,37.0,37.9,37.7,38.2,37.9,37.2,38.0,...,34.3,35.5,35.6,35.9,34.2,35.6,35.0,36.1,35.0,35.6
Malta,38.8,39.3,39.3,39.1,38.7,38.9,38.9,38.9,38.6,38.2,...,37.0,37.2,36.9,37.3,37.2,37.2,36.9,36.6,37.9,38.1
Netherlands,31.5,31.7,32.8,32.4,31.6,31.3,32.5,32.2,31.5,30.8,...,30.5,31.7,31.0,31.0,30.1,31.5,30.8,30.7,30.6,31.4
Norway,33.0,34.6,35.4,34.1,34.0,33.3,35.0,33.6,33.8,33.2,...,32.5,34.1,33.2,33.7,31.5,34.0,33.2,32.7,32.3,33.5
Poland,39.8,40.5,41.5,39.3,39.5,39.8,41.5,38.8,39.5,39.6,...,39.0,40.2,38.9,39.6,38.7,40.2,38.6,39.2,38.4,39.7
Portugal,38.1,38.1,39.7,38.3,38.6,38.1,39.8,38.0,38.7,38.9,...,37.2,38.8,37.1,38.6,37.2,38.4,36.5,37.1,36.9,38.2
Romania,39.4,40.4,40.5,39.6,39.0,40.2,40.5,39.3,38.7,40.0,...,39.7,40.0,39.3,39.5,39.4,39.8,39.1,39.2,38.2,39.0
Slovakia,39.6,40.3,39.6,39.9,39.2,38.7,39.7,39.5,39.4,40.1,...,37.9,37.2,37.5,38.8,37.3,37.2,37.2,38.0,37.6,37.8
Slovenia,39.3,39.4,40.3,39.3,39.4,38.1,39.4,39.3,38.5,38.2,...,37.8,38.8,37.9,38.1,37.4,38.5,37.8,37.7,37.5,38.6
Spain,37.7,38.6,39.0,38.1,37.6,37.8,38.7,37.4,37.4,38.2,...,36.4,37.2,35.6,36.7,36.0,36.9,35.4,36.1,36.4,36.8
Sweden,34.8,35.4,36.7,35.7,35.1,34.3,36.7,35.1,35.4,35.7,...,34.3,36.4,35.7,35.7,33.5,36.0,35.5,35.3,33.9,35.9
Switzerland,NaN,37.4,NaN,NaN,NaN,36.9,NaN,NaN,36.8,36.8,...,36.3,36.8,36.5,36.2,35.9,36.6,36.3,35.7,35.9,36.4
Türkiye,48.9,50.2,51.4,49.4,47.2,48.7,50.4,48.4,47.1,48.8,...,43.5,44.4,44.1,44.0,42.9,45.2,43.8,42.9,42.4,43.9
United Kingdom,35.2,35.9,36.4,35.8,35.5,35.4,36.0,35.7,35.4,35.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
#Extration des données Working Hours per year (Données Eurostat à partir de 1998-2008)

'''
Informations générales: données trimestrielles à partir de 2008
Online data code:lfsq_ewhana
source: https://ec.europa.eu/eurostat/databrowser/view/lfsq_ewhana__custom_15382513/default/table?lang=en
Unit of measure_ Hours per year per person
'''

df_working_hours_eurostat_2= pd.read_csv("Données_extraites/Working_hours_eurostat_2.csv", encoding='utf-8')
#print(df_GDP.head())


# Choix des colonnes rélévantes
df_working_hours_selected_eurostat_2= df_working_hours_eurostat_2[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_GDP_selected.head())

# Obtention des données de panel
df_working_hours_pivot_eurostat_2 = df_working_hours_selected_eurostat_2.pivot_table(index='geo', columns='TIME_PERIOD', values='OBS_VALUE', aggfunc='first')

# Renomer l'index des colonnes
df_working_hours_pivot_eurostat_2= df_working_hours_pivot_eurostat_2.rename_axis(index={'geo': 'COUNTRY'})

# Vérification
#print(df_GDP_pivot.head())
df_working_hours_pivot_eurostat_2

                 geo TIME_PERIOD  OBS_VALUE
0            Austria     1998-Q1       39.8
1            Austria     1999-Q1       39.6
2            Austria     1999-Q2       38.8
3            Austria     1999-Q3       40.2
4            Austria     1999-Q4       39.5
...              ...         ...        ...
1139  United Kingdom     2007-Q4       36.5
1140  United Kingdom     2008-Q1       35.2
1141  United Kingdom     2008-Q2       35.9
1142  United Kingdom     2008-Q3       36.4
1143  United Kingdom     2008-Q4       35.8

[1144 rows x 3 columns]

In [10]:
#1ère Juxtaposition (des deux jeux de données trimestrielles)
df_working_hours_pivot_eurostat=pd.concat([df_working_hours_pivot_eurostat_2,df_working_hours_pivot_eurostat_1], axis=1)
df_working_hours_pivot_eurostat

TIME_PERIOD,1998-Q1,1998-Q2,1998-Q3,1998-Q4,1999-Q1,1999-Q2,1999-Q3,1999-Q4,2000-Q1,2000-Q2,...,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3
COUNTRY,,,,,,,,,,,,,,,,,,,,,
Austria,39.8,NaN,NaN,NaN,39.6,38.8,40.2,39.5,39.5,38.3,...,33.3,34.4,33.0,34.1,33.0,34.1,32.9,34.0,32.9,34.5
Belgium,NaN,38.5,NaN,NaN,37.3,36.8,37.7,36.5,37.6,36.6,...,34.6,34.4,34.0,35.8,34.3,34.4,34.1,35.0,33.8,34.3
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.2,40.7,...,38.6,39.5,39.1,39.4,38.3,39.3,39.0,39.3,38.5,39.2
Croatia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.5,38.5,37.4,38.7,37.1,39.1,37.6,38.1,37.5,38.2
Cyprus,NaN,NaN,NaN,NaN,NaN,39.7,NaN,NaN,NaN,39.3,...,37.4,39.0,37.7,38.0,37.4,39.5,38.7,37.7,37.2,39.1
Czechia,43.1,43.5,44.4,44.2,43.8,43.9,44.0,43.4,43.6,43.2,...,38.0,37.0,37.1,39.0,37.1,37.0,37.8,37.7,37.4,38.2
Denmark,NaN,33.9,NaN,NaN,35.2,35.5,36.7,35.4,36.1,34.2,...,33.2,33.9,33.2,33.8,32.4,34.0,33.0,32.6,32.8,33.5
Estonia,NaN,41.1,NaN,NaN,NaN,41.1,NaN,NaN,40.4,40.5,...,36.1,37.5,36.6,36.3,35.7,37.0,36.3,35.9,36.4,36.7
Finland,38.5,37.8,39.6,38.9,38.4,37.5,39.2,37.0,37.6,36.8,...,34.1,35.4,33.6,34.6,33.5,35.3,33.6,34.2,34.2,35.1
France,39.3,NaN,NaN,NaN,38.9,NaN,NaN,NaN,38.5,NaN,...,35.6,36.1,35.7,36.5,34.8,36.0,35.9,36.2,34.7,36.3
Germany,NaN,38.3,NaN,NaN,NaN,38.2,NaN,NaN,NaN,38.1,...,34.1,34.8,34.1,34.1,33.6,34.4,33.5,33.7,33.5,34.2
Greece,40.4,41.8,43.3,40.5,40.6,42.3,43.7,41.6,41.3,42.1,...,39.5,40.9,39.4,39.3,39.6,40.7,39.5,38.9,40.0,41.2
Hungary,NaN,41.5,NaN,NaN,41.4,41.9,42.0,41.9,41.6,41.0,...,38.0,39.1,38.2,38.7,37.3,38.8,36.4,37.0,37.8,38.2
Iceland,NaN,41.3,NaN,NaN,NaN,41.9,NaN,NaN,NaN,42.9,...,35.2,36.5,35.2,36.1,34.5,36.6,34.4,34.0,35.4,36.9
Ireland,NaN,39.4,NaN,NaN,NaN,38.9,39.9,39.3,38.4,38.6,...,35.6,35.9,35.0,34.8,35.1,35.4,34.3,34.3,34.5,35.0
Italy,39.1,39.2,40.2,39.3,39.0,39.1,40.0,39.4,39.0,39.1,...,36.0,36.7,35.7,36.4,35.6,36.7,35.5,36.3,35.9,36.0
Latvia,NaN,42.4,NaN,41.9,NaN,42.8,NaN,42.0,NaN,42.5,...,38.5,39.1,38.3,38.6,37.7,38.9,38.4,38.3,38.1,38.7
Lithuania,NaN,41.2,NaN,39.3,NaN,39.7,NaN,37.9,NaN,39.4,...,38.4,38.3,38.0,38.4,38.6,38.7,37.6,37.8,38.3,38.8
Luxembourg,NaN,39.0,NaN,NaN,NaN,39.0,NaN,NaN,NaN,39.2,...,34.3,35.5,35.6,35.9,34.2,35.6,35.0,36.1,35.0,35.6
Malta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.4,...,37.0,37.2,36.9,37.3,37.2,37.2,36.9,36.6,37.9,38.1
Netherlands,NaN,31.9,NaN,NaN,NaN,31.8,NaN,NaN,33.2,31.6,...,30.5,31.7,31.0,31.0,30.1,31.5,30.8,30.7,30.6,31.4
Norway,NaN,35.7,NaN,NaN,NaN,35.6,NaN,NaN,36.8,34.2,...,32.5,34.1,33.2,33.7,31.5,34.0,33.2,32.7,32.3,33.5
Poland,NaN,41.9,NaN,NaN,39.8,NaN,NaN,NaN,40.1,40.9,...,39.0,40.2,38.9,39.6,38.7,40.2,38.6,39.2,38.4,39.7
Portugal,40.8,39.9,41.2,39.1,40.1,40.0,40.7,39.0,40.1,39.3,...,37.2,38.8,37.1,38.6,37.2,38.4,36.5,37.1,36.9,38.2
Romania,NaN,39.9,NaN,NaN,38.2,40.0,40.6,38.8,38.0,40.2,...,39.7,40.0,39.3,39.5,39.4,39.8,39.1,39.2,38.2,39.0
Slovakia,41.7,42.0,42.9,42.7,41.9,42.1,42.6,42.2,42.1,41.6,...,37.9,37.2,37.5,38.8,37.3,37.2,37.2,38.0,37.6,37.8
Slovenia,NaN,40.7,NaN,NaN,41.0,41.4,42.1,41.9,41.1,41.0,...,37.8,38.8,37.9,38.1,37.4,38.5,37.8,37.7,37.5,38.6
Spain,38.6,38.5,40.0,38.2,38.6,39.5,40.0,37.6,39.4,38.4,...,36.4,37.2,35.6,36.7,36.0,36.9,35.4,36.1,36.4,36.8
Sweden,NaN,34.5,NaN,NaN,NaN,36.4,NaN,NaN,NaN,36.7,...,34.3,36.4,35.7,35.7,33.5,36.0,35.5,35.3,33.9,35.9
Switzerland,NaN,37.1,NaN,NaN,NaN,37.3,NaN,NaN,NaN,37.5,...,36.3,36.8,36.5,36.2,35.9,36.6,36.3,35.7,35.9,36.4
Türkiye,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.5,44.4,44.1,44.0,42.9,45.2,43.8,42.9,42.4,43.9
United Kingdom,NaN,36.5,NaN,NaN,NaN,36.3,37.2,37.1,35.6,36.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#J'essaye de merger les données de working hours d'une autre façon, car je veux les données en format long

# suppression des données de 2008 dans un des deux df car elles sont dans des deux
df_working_hours_selected_eurostat_2 = df_working_hours_selected_eurostat_2[~df_working_hours_selected_eurostat_2['TIME_PERIOD'].isin(['2008-Q1', '2008-Q2', '2008-Q3', '2008-Q4'])]

#merger les deux l'un en dessous de l'autre
df_working_hours_long_eurostat = pd.concat([df_working_hours_selected_eurostat_2, df_working_hours_selected_eurostat_1], ignore_index="TRUE")
df_working_hours_long_eurostat

                 geo TIME_PERIOD  OBS_VALUE
0            Austria     1998-Q1       39.8
1            Austria     1999-Q1       39.6
2            Austria     1999-Q2       38.8
3            Austria     1999-Q3       40.2
4            Austria     1999-Q4       39.5
...              ...         ...        ...
3132  United Kingdom     2019-Q3       36.3
3133  United Kingdom     2019-Q4       35.9
3134  United Kingdom     2020-Q1       35.5
3135  United Kingdom     2020-Q2       35.4
3136  United Kingdom     2020-Q3       35.7

[3137 rows x 3 columns]

In [11]:
#Tentative: union des deux jeux de données

#Vérifions que les pays des deux jeux de données (Eurostat + OCDE) sont identiques
identique= (
    df_working_hours_pivot_eurostat['']
    ).all()

'''idées potentielles pour la suite:
- pour corriger les missing values: peut-être on pourra faire des interpolations linéaires?
- et pour les working hours: j'ai voulu concaténer les donnés, mais mon problème c'est que je ne 
trouve pas comment ont été calculées les heures de travail par l'OCDE. Et donc j'ai du mal à faire la conversion correspondante 
J'avais pensé à utiliser les données annuelles de Eurostat
    - https://ec.europa.eu/eurostat/web/lfs/database
    - https://ec.europa.eu/eurostat/databrowser/view/lfsa_ewhuna/default/table?lang=en&category=labour.employ.lfsa.lfsa_wrktime
    Il y a des données annuelles disponibles à partir de 1998, donc c'est plus facile de faire la conversion 
    et pour 1995-1998, si on ne trouve rien, on pourra garder les données de l'OCDE (c'est plus facile de faire la conversion pour 3 ans que pour 13 ans)
    
'''

KeyError: ''

Données des taux d'intérêts

Taux court terme : "Les données se réfèrent aux bons acceptés par la banque/Certificats de dépôt négociables-3 mois."
Taux long terme : "Les données se réfèrent au taux de rendement estimé en clôture des obligations du trésor à 10 ans."

In [20]:
# Pour le long terme (une possibilité): Long term interest rates
# source: https://data-explorer.oecd.org/vis?lc=en&pg=0&tm=LONG-TERM%20INTEREST&snb=21&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_STES%40DF_FINMARK&df[ag]=OECD.SDD.STES&df[vs]=4.0&dq=GBR%2BROU%2BHRV%2BBGR%2BESP%2BTUR%2BCHE%2BSWE%2BSVN%2BSVK%2BPRT%2BPOL%2BNOR%2BNLD%2BLUX%2BLTU%2BLVA%2BITA%2BIRL%2BISL%2BHUN%2BGRC%2BDEU%2BFRA%2BFIN%2BEST%2BDNK%2BCZE%2BBEL%2BAUT%2BAUS.Q.IRLT.PA.....&to[TIME_PERIOD]=false&pd=1995-Q1%2C
#Unit of measure: Percent per annum

df_LT_IR=pd.read_csv('Données_extraites/Long_term_IR_OCDE.csv', encoding='utf-8')


# Choix des colonnes rélévantes
df_LT_IR_selected = df_LT_IR[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]
df_LT_IR = df_LT_IR_selected
df_LT_IR
#print(df_LT_IR.head())

# Obtention des données de panel
df_LT_IR_pivot = df_LT_IR_selected.pivot_table(index='Reference area', columns='TIME_PERIOD', values='OBS_VALUE', aggfunc='first')

# Vérification
#print(df_LT_IR_pivot.head())
#df_LT_IR_pivot

In [18]:
# Pour le court terme (une possibilité): short term interest rates
# source: https://data-explorer.oecd.org/vis?lc=en&pg=0&tm=LONG-TERM%20INTEREST&snb=21&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_STES%40DF_FINMARK&df[ag]=OECD.SDD.STES&df[vs]=4.0&dq=GBR%2BROU%2BHRV%2BBGR%2BESP%2BTUR%2BCHE%2BSWE%2BSVN%2BSVK%2BPRT%2BPOL%2BNOR%2BNLD%2BLUX%2BLTU%2BLVA%2BITA%2BIRL%2BISL%2BHUN%2BGRC%2BDEU%2BFRA%2BFIN%2BEST%2BDNK%2BCZE%2BBEL%2BAUT%2BAUS.Q.IRLT.PA.....&to[TIME_PERIOD]=false&pd=1995-Q1%2C
#Unit of measure: Percent per annum

df_ST_IR=pd.read_csv('Données_extraites/Short_term_IR_OCDE.csv', encoding='utf-8')


# Choix des colonnes rélévantes
df_ST_IR_selected = df_ST_IR[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]
print(df_ST_IR.head())
df_ST_IR = df_ST_IR_selected
df_ST_IR
# Obtention des données de panel
#df_ST_IR_pivot = df_ST_IR_selected.pivot_table(index='Reference area', columns='TIME_PERIOD', values='OBS_VALUE', aggfunc='first')

# Vérification
#print(df_ST_IR_pivot.head())
#df_ST_IR_pivot

  STRUCTURE                            STRUCTURE_ID    STRUCTURE_NAME ACTION  \
0  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
1  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
2  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
3  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I
4  DATAFLOW  OECD.SDD.STES:DSD_STES@DF_FINMARK(4.0)  Financial market      I

  REF_AREA Reference area FREQ Frequency of observation MEASURE  \
0      CZE        Czechia    Q                Quarterly  IR3TIB
1      CZE        Czechia    Q                Quarterly  IR3TIB
2      ROU        Romania    Q                Quarterly  IR3TIB
3      ROU        Romania    Q                Quarterly  IR3TIB
4      ROU        Romania    Q                Quarterly  IR3TIB

                     Measure  ...  OBS_VALUE Observation value OBS_STATUS  \
0  Short-term interest rates  ...   3.932794               NaN          A
1  Short-term interest rates  ...   3.137144               NaN          A
2  Short-term interest rates  ...  58.373330               NaN          A
3  Short-term interest rates  ...  54.776670               NaN          A
4  Short-term interest rates  ...  53.953330               NaN          A

  Observation status UNIT_MULT Unit multiplier DECIMALS Decimals BASE_PER  \
0       Normal value         0           Units        2      Two      NaN
1       Normal value         0           Units        2      Two      NaN
2       Normal value         0           Units        2      Two      NaN
3       Normal value         0           Units        2      Two      NaN
4       Normal value         0           Units        2      Two      NaN

  Base period
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 34 columns]

     Reference area TIME_PERIOD  OBS_VALUE
0           Czechia     2002-Q2   3.932794
1           Czechia     2002-Q3   3.137144
2           Romania     1996-Q2  58.373330
3           Romania     1996-Q3  54.776670
4           Romania     1996-Q4  53.953330
...             ...         ...        ...
3208        Czechia     2001-Q1   5.219243
3209        Czechia     2001-Q2   5.043286
3210        Czechia     2001-Q3   5.408832
3211        Czechia     2001-Q4   5.020566
3212        Czechia     2002-Q1   4.384605

[3213 rows x 3 columns]

Import du CPI

In [16]:
# données téléchargées depuis le site de eurostat

# décompresser le fichier qui était en .gz
df_cpi = pd.read_csv("estat_prc_hicp_midx_filtered_en.csv.gz", compression="gzip")
print(df_cpi.head())

# Sélectionner les variables utiles
df_cpi = df_cpi[['coicop','geo', 'TIME_PERIOD', 'OBS_VALUE']]
print(df_cpi.head())
print(df_cpi['coicop'].unique())

# mettre les deux variables de cpi différentes dans deux colonnes (car actuellement elles sont en ligne : voir la variable coicop))
df_cpi_pivot = df_cpi.pivot(index=['geo', 'TIME_PERIOD'], columns='coicop', values='OBS_VALUE')
print(df_cpi_pivot.head())
df_cpi_pivot = df_cpi_pivot.reset_index()
df_cpi_pivot

                   DATAFLOW        LAST UPDATE     freq             unit  \
0  ESTAT:PRC_HICP_MIDX(1.0)  03/02/25 11:00:00  Monthly  Index, 2015=100
1  ESTAT:PRC_HICP_MIDX(1.0)  03/02/25 11:00:00  Monthly  Index, 2015=100
2  ESTAT:PRC_HICP_MIDX(1.0)  03/02/25 11:00:00  Monthly  Index, 2015=100
3  ESTAT:PRC_HICP_MIDX(1.0)  03/02/25 11:00:00  Monthly  Index, 2015=100
4  ESTAT:PRC_HICP_MIDX(1.0)  03/02/25 11:00:00  Monthly  Index, 2015=100

           coicop      geo TIME_PERIOD  OBS_VALUE OBS_FLAG  CONF_STATUS
0  All-items HICP  Albania     2015-12     100.00        d          NaN
1  All-items HICP  Albania     2016-01     101.00        d          NaN
2  All-items HICP  Albania     2016-02     102.28        d          NaN
3  All-items HICP  Albania     2016-03     102.80        d          NaN
4  All-items HICP  Albania     2016-04     102.31        d          NaN
           coicop      geo TIME_PERIOD  OBS_VALUE
0  All-items HICP  Albania     2015-12     100.00
1  All-items HICP  Albania     2016-01     101.00
2  All-items HICP  Albania     2016-02     102.28
3  All-items HICP  Albania     2016-03     102.80
4  All-items HICP  Albania     2016-04     102.31
['All-items HICP'
 'Overall index excluding energy, food, alcohol and tobacco']
coicop               All-items HICP  \
geo     TIME_PERIOD
Albania 2015-12              100.00
        2016-01              101.00
        2016-02              102.28
        2016-03              102.80
        2016-04              102.31

coicop               Overall index excluding energy, food, alcohol and tobacco
geo     TIME_PERIOD
Albania 2015-12                                                 100.00
        2016-01                                                  99.85
        2016-02                                                  99.79
        2016-03                                                  99.84
        2016-04                                                  99.92

coicop,geo,TIME_PERIOD,All-items HICP,"Overall index excluding energy, food, alcohol and tobacco"
0,Albania,2015-12,100.00,100.00
1,Albania,2016-01,101.00,99.85
2,Albania,2016-02,102.28,99.79
3,Albania,2016-03,102.80,99.84
4,Albania,2016-04,102.31,99.92
...,...,...,...,...
12046,United States,2024-08,128.61,NaN
12047,United States,2024-09,129.21,NaN
12048,United States,2024-10,129.43,NaN
12049,United States,2024-11,129.46,NaN
12050,United States,2024-12,129.47,NaN

In [51]:
#tables en format long à merger : 
set1 = set(df_working_hours_long_eurostat['geo'].unique())
set2 = set(df_cpi_pivot['geo'].unique())
set3 = set(df_ST_IR['Reference area'].unique())
set4 = set(df_LT_IR['Reference area'].unique())
set5 = set(df_GDP_selected['geo'].unique())

pays_communs = set1 & set2 & set3 & set4 & set5  # Intersection de tous les ensembles
print("Pays communs :", pays_communs)
print("Nombre de pays communs :", len(pays_communs))

Pays communs : {'Denmark', 'Czechia', 'Italy', 'Norway', 'France', 'Romania', 'Germany', 'Poland', 'Bulgaria', 'Belgium', 'Estonia', 'Sweden', 'Switzerland', 'Greece', 'Spain', 'Finland', 'Portugal', 'Iceland', 'Slovenia', 'Austria', 'United Kingdom', 'Latvia', 'Netherlands', 'Ireland', 'Lithuania', 'Hungary', 'Luxembourg'}
Nombre de pays communs : 27

In [54]:
tous_pays = set1 | set2 | set3 | set4 | set5  # Union de tous les ensembles
print("Tous les pays :", tous_pays)

for i, (name, dataset) in enumerate([
    ("df_working_hours_long_eurostat", set1),
    ("df_cpi_pivot", set2),
    ("df_ST_IR", set3),
    ("df_LT_IR", set4),
    ("df_GDP_selected", set5)
]):
    pays_absents = tous_pays - dataset  # Pays qui ne sont pas dans cet ensemble
    print(f"Pays absents dans {name} :", pays_absents)

#suppression des US dans df_cpi_pivot :
df_cpi = df_cpi_pivot[~df_cpi_pivot['geo'].isin(['United States'])]

Tous les pays : {'Denmark', 'Kosovo*', 'Bosnia and Herzegovina', 'France', 'Poland', 'Bulgaria', 'Türkiye', 'Estonia', 'Sweden', 'Serbia', 'Switzerland', 'Greece', 'Finland', 'Iceland', 'North Macedonia', 'Austria', 'United Kingdom', 'Albania', 'Lithuania', 'Hungary', 'Luxembourg', 'Czechia', 'Italy', 'Norway', 'Slovakia', 'Romania', 'Germany', 'Croatia', 'Belgium', 'Cyprus', 'Slovak Republic', 'Spain', 'Montenegro', 'United States', 'Malta', 'Portugal', 'Slovenia', 'Latvia', 'Netherlands', 'Ireland'}
Pays absents dans df_working_hours_long_eurostat : {'Kosovo*', 'Montenegro', 'United States', 'Bosnia and Herzegovina', 'Serbia', 'Albania', 'North Macedonia', 'Slovak Republic'}
Pays absents dans df_cpi_pivot : {'Slovak Republic', 'Bosnia and Herzegovina'}
Pays absents dans df_ST_IR : {'Croatia', 'Türkiye', 'Kosovo*', 'Cyprus', 'Montenegro', 'United States', 'Bosnia and Herzegovina', 'Malta', 'Serbia', 'North Macedonia', 'Albania', 'Slovakia'}
Pays absents dans df_LT_IR : {'Türkiye', 'Kosovo*', 'Cyprus', 'Montenegro', 'United States', 'Bosnia and Herzegovina', 'Malta', 'Serbia', 'North Macedonia', 'Albania', 'Slovakia'}
Pays absents dans df_GDP_selected : {'United States', 'Slovak Republic'}

In [61]:
df_cpi_pivot
#df_working_hours_long_eurostat
#df_ST_IR

coicop,geo,TIME_PERIOD,All-items HICP,"Overall index excluding energy, food, alcohol and tobacco"
0,Albania,2015-12,100.00,100.00
1,Albania,2016-01,101.00,99.85
2,Albania,2016-02,102.28,99.79
3,Albania,2016-03,102.80,99.84
4,Albania,2016-04,102.31,99.92
...,...,...,...,...
12046,United States,2024-08,128.61,NaN
12047,United States,2024-09,129.21,NaN
12048,United States,2024-10,129.43,NaN
12049,United States,2024-11,129.46,NaN
12050,United States,2024-12,129.47,NaN

In [81]:
# problème: les données sont mensuelles et elles n'existent pas en trimestriel sur eurostat : on va faire utiliser la moyenne pour chaque trimestre

# Convertir 'TIME_PERIOD' en datetime
df_cpi=df_cpi_pivot
df_cpi['TIME_PERIOD'] = pd.to_datetime(df_cpi['TIME_PERIOD'], format='%Y-%m')

# Ajouter une colonne 'quTIME_PERIODarter' en fonction de l'année et du mois
df_cpi['TIME_PERIOD'] = df_cpi['TIME_PERIOD'].dt.to_period('Q')

# Regrouper par pays et trimestre, puis prendre la moyenne
df_cpi_trimestriel = df_cpi.groupby(['geo', 'TIME_PERIOD'])[['All-items HICP','Overall index excluding energy, food, alcohol and tobacco']].mean().reset_index()
df_cpi_trimestriel['TIME_PERIOD'] = df_cpi_trimestriel['TIME_PERIOD'].astype(str).str.replace('Q', '-Q')

df_cpi_trimestriel

coicop,geo,TIME_PERIOD,All-items HICP,"Overall index excluding energy, food, alcohol and tobacco"
0,Albania,2015-Q4,100.000000,100.000000
1,Albania,2016-Q1,102.026667,99.826667
2,Albania,2016-Q2,101.143333,99.950000
3,Albania,2016-Q3,101.093333,100.383333
4,Albania,2016-Q4,101.770000,100.710000
...,...,...,...,...
4031,United States,2023-Q4,126.540000,NaN
4032,United States,2024-Q1,127.466667,NaN
4033,United States,2024-Q2,128.306667,NaN
4034,United States,2024-Q3,128.756667,NaN
4035,United States,2024-Q4,129.453333,NaN

In [ ]:
# renommer les variables de tous les df pour qu'elles soient uniformes 


#df_working_hours_long_eurostat = df_working_hours_long_eurostat.rename(columns={'geo'='country', 'OBS_VALUE'='working_hours'})