In [114]:
import pandas as pd

Données sur le PIB


Nom du dataframe: df_GDP

Les pays retenus sont ceux pour lesquels on a réussi à collecter toutes les données relatives aux variables d'intérêt: 


Autriche (Austria)
Belgique (Belgium)
Bulgarie (Bulgaria)
Tchéquie (Czechia)
Danemark (Denmark)
Estonie (Estonia)
Finlande (Finland)
France (France)
Allemagne (Germany)
Grèce (Greece)
Hongrie (Hungary)
Islande (Iceland)
Irlande (Ireland)
Italie (Italy)
Lettonie (Latvia)
Lituanie (Lithuania)
Luxembourg (Luxembourg)
Pays-Bas (Netherlands)
Norvège (Norway)
Pologne (Poland)
Portugal (Portugal)
Roumanie (Romania)
Slovaquie (Slovakia)
Slovénie (Slovenia)
Espagne (Spain)
Suède (Sweden)
Suisse (Switzerland)
Royaume-Uni (United Kingdom)

In [115]:
#Création d'une liste comportant les pays choisis
countries_selected=[
    "Austria", "Belgium", "Bulgaria", "Czechia", "Denmark", "Estonia", 
    "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", 
    "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Netherlands", 
    "Norway", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", 
    "Spain", "Sweden", "Switzerland", "United Kingdom"
]

Cette copie comporte des data frames similaires à ceux du premier document. Seule différence: les indices comportent les dates (apparemment c'est mieux pour une analyse en séries temporelles)

In [116]:
import pandas as pd

# Extraction des données relatives au GDP (Données Eurostat)
'''
Informations générales
Online data code:namq_10_gdp
Unit of measure: Current prices-million euro
'''

# Charger les données
df_GDP = pd.read_csv("Données_extraites/GDP_trimestriel_eurostat.csv", encoding='utf-8')
#print(df_GDP.head())

# Choix des colonnes rélévantes
df_GDP_selected = df_GDP[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_GDP_selected.head())

# Obtention des données de panel
df_GDP_pivot = df_GDP_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE', aggfunc='first')

# Renommer les colonnes pour inclure un préfixe "PIB_" suivi du nom du pays
df_GDP_pivot.columns = [f'PIB_{col}' for col in df_GDP_pivot.columns]

# On filtre les pays qui nous intéressent
colonnes_a_garder = [f'PIB_{pays}' for pays in countries_selected]

# Vérification et filtrage
df_GDP=df_GDP_pivot
df_GDP = df_GDP[[col for col in df_GDP.columns if col in colonnes_a_garder]]
df_GDP

,PIB_Austria,PIB_Belgium,PIB_Bulgaria,PIB_Czechia,PIB_Denmark,PIB_Estonia,PIB_Finland,PIB_France,PIB_Germany,PIB_Greece,...,PIB_Norway,PIB_Poland,PIB_Portugal,PIB_Romania,PIB_Slovakia,PIB_Slovenia,PIB_Spain,PIB_Sweden,PIB_Switzerland,PIB_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-Q1,43186.6,53331.5,3175.8,10278.9,34078.4,647.2,23318.9,302514.4,476161.9,24031.8,...,28755.9,25719.3,21844.5,6370.1,3608.0,3698.7,109201.7,49061.2,64546.7,257589.8
1995-Q2,46786.8,56119.3,3162.8,11487.7,35871.0,766.7,25836.6,305681.9,491129.7,24618.7,...,28112.2,26686.2,22939.5,6573.1,4193.6,4215.6,118545.9,49347.7,67655.1,248722.5
1995-Q3,46335.5,53741.7,3796.9,12011.0,34625.0,764.9,25861.4,298966.5,498991.2,26687.8,...,28780.8,27953.2,22831.1,8410.6,3935.9,4192.8,115932.3,47946.2,67566.8,255889.4
1995-Q4,47362.4,57115.3,4339.3,12547.9,36803.0,810.2,27610.4,313056.6,517170.0,27786.3,...,30592.3,28800.9,23393.0,7093.1,3773.0,4243.8,126388.4,58220.1,70342.0,263308.8
1996-Q1,44641.2,54240.0,3757.2,11817.6,35666.0,810.8,24429.5,314916.7,480003.1,25075.7,...,31004.3,29805.2,22578.3,5736.8,4047.6,3796.9,120868.5,55464.8,67670.1,262343.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-Q4,122280.3,158085.7,27190.9,80924.4,96868.6,10167.4,70783.0,740808.8,1078640.0,58303.8,...,117286.9,212778.5,69392.1,97353.1,32337.7,16574.7,396068.0,143722.2,213788.9,NaN
2024-Q1,117304.1,147812.8,22171.0,73617.4,91782.6,8928.0,65941.0,716382.2,1064830.0,52306.4,...,110985.6,192872.2,66207.1,70386.4,29968.5,15785.3,377866.0,137093.7,212946.8,NaN
2024-Q2,120746.2,154840.7,24615.2,81119.0,98319.4,9770.0,69823.0,721972.0,1060790.0,58822.2,...,112028.9,200743.9,70879.5,84568.9,32467.5,16879.1,400518.0,142633.5,211841.3,NaN
2024-Q3,118315.9,147978.8,27492.5,81382.2,98324.5,10060.0,69123.0,720508.5,1078220.0,65028.6,...,NaN,211291.8,72667.6,94793.7,33655.5,17055.9,393855.0,134682.5,216999.8,NaN
2024-Q4,NaN,NaN,29242.6,NaN,NaN,NaN,NaN,757694.4,1101420.0,NaN,...,NaN,NaN,NaN,NaN,33870.4,17247.7,420897.0,NaN,NaN,NaN

Dans ce qui suit: nous allons essayer de concatener trois datasets:
- 2 comportant des données trimestrielles (1998-2008 et 2008-2024)
- 1 comporatant des données annuelles (1995-1998)

Nous avons gardé la même source (Eurostat) afin d'avoir des estimations homogènes

In [117]:
import pandas as pd

# Extraction des données Working Hours per year (Données Eurostat: 1995-1997)

'''
Informations générales
Lien: https://doi.org/10.2908/LFSA_EWHANA
Code: lfsa_ewhana
'''

# Charger les données
df_working_hours_eurostat_an = pd.read_csv("Données_extraites/Working_hours_eurostat_1995-1997.csv", encoding='utf-8')
#print(df_working_hours_eurostat_an.head())

# Choix des colonnes rélévantes
df_working_hours_selected_eurostat_an = df_working_hours_eurostat_an[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_working_hours_selected_eurostat_an.head())

# Obtention des données de panel
df_working_hours_pivot_eurostat_an = df_working_hours_selected_eurostat_an.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE')

# Renommer les colonnes pour inclure un préfixe "WorkingHours_" suivi du nom du pays
df_working_hours_pivot_eurostat_an.columns = [f'Working_Hours_{col}' for col in df_working_hours_pivot_eurostat_an.columns]

# Vérifier que les dates sont bien en index et les pays sont renommés
#print(df_working_hours_pivot_eurostat_an.head())
df_working_hours_pivot_eurostat_an

,Working_Hours_Austria,Working_Hours_Belgium,Working_Hours_Czechia,Working_Hours_Denmark,Working_Hours_Estonia,Working_Hours_Finland,Working_Hours_France,Working_Hours_Germany,Working_Hours_Greece,Working_Hours_Hungary,...,Working_Hours_Netherlands,Working_Hours_Norway,Working_Hours_Poland,Working_Hours_Portugal,Working_Hours_Romania,Working_Hours_Slovenia,Working_Hours_Spain,Working_Hours_Sweden,Working_Hours_Switzerland,Working_Hours_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995,40.0,37.8,NaN,34.3,NaN,36.9,39.7,38.7,42.3,NaN,...,30.5,34.4,NaN,41.6,NaN,NaN,38.3,34.0,NaN,36.9
1996,39.8,37.8,NaN,34.0,NaN,37.6,39.6,38.7,41.9,41.2,...,32.3,34.9,NaN,40.8,NaN,42.2,38.0,34.4,37.0,36.7
1997,40.2,37.9,43.4,34.4,41.3,39.4,39.2,38.6,41.8,42.0,...,32.3,35.7,42.2,40.0,40.3,40.5,38.3,36.3,37.1,36.5

In [118]:
# transformation: données annuelles --> trimestrielles // Option 1: recopier les données annuelles 4 fois

# Création d'une copie du dataframe original
df_working_hours_quarterly_1 = df_working_hours_pivot_eurostat_an.copy()

# Répéter chaque année 4 fois
df_working_hours_quarterly_1 = df_working_hours_pivot_eurostat_an.loc[df_working_hours_pivot_eurostat_an.index.repeat(4)]

# Générer un nouvel index trimestriel sous le format 'YYYY-QX'
quarters = ['Q1', 'Q2', 'Q3', 'Q4']
df_working_hours_quarterly_1['TIME_PERIOD'] = [f"{year}-{quarter}" for year in df_working_hours_pivot_eurostat_an.index for quarter in quarters]

# Remettre 'TIME_PERIOD' comme index
df_working_hours_quarterly_1 = df_working_hours_quarterly_1.set_index('TIME_PERIOD')

# Renommer les colonnes pour éviter la duplication des préfixes dans les noms des colonnes
df_working_hours_quarterly_1.columns = [col.replace("Working_Hours_Working_Hours", "Working_Hours") for col in df_working_hours_quarterly_1.columns]

# Vérification
df_working_hours_quarterly_1

,Working_Hours_Austria,Working_Hours_Belgium,Working_Hours_Czechia,Working_Hours_Denmark,Working_Hours_Estonia,Working_Hours_Finland,Working_Hours_France,Working_Hours_Germany,Working_Hours_Greece,Working_Hours_Hungary,...,Working_Hours_Netherlands,Working_Hours_Norway,Working_Hours_Poland,Working_Hours_Portugal,Working_Hours_Romania,Working_Hours_Slovenia,Working_Hours_Spain,Working_Hours_Sweden,Working_Hours_Switzerland,Working_Hours_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-Q1,40.0,37.8,NaN,34.3,NaN,36.9,39.7,38.7,42.3,NaN,...,30.5,34.4,NaN,41.6,NaN,NaN,38.3,34.0,NaN,36.9
1995-Q2,40.0,37.8,NaN,34.3,NaN,36.9,39.7,38.7,42.3,NaN,...,30.5,34.4,NaN,41.6,NaN,NaN,38.3,34.0,NaN,36.9
1995-Q3,40.0,37.8,NaN,34.3,NaN,36.9,39.7,38.7,42.3,NaN,...,30.5,34.4,NaN,41.6,NaN,NaN,38.3,34.0,NaN,36.9
1995-Q4,40.0,37.8,NaN,34.3,NaN,36.9,39.7,38.7,42.3,NaN,...,30.5,34.4,NaN,41.6,NaN,NaN,38.3,34.0,NaN,36.9
1996-Q1,39.8,37.8,NaN,34.0,NaN,37.6,39.6,38.7,41.9,41.2,...,32.3,34.9,NaN,40.8,NaN,42.2,38.0,34.4,37.0,36.7
1996-Q2,39.8,37.8,NaN,34.0,NaN,37.6,39.6,38.7,41.9,41.2,...,32.3,34.9,NaN,40.8,NaN,42.2,38.0,34.4,37.0,36.7
1996-Q3,39.8,37.8,NaN,34.0,NaN,37.6,39.6,38.7,41.9,41.2,...,32.3,34.9,NaN,40.8,NaN,42.2,38.0,34.4,37.0,36.7
1996-Q4,39.8,37.8,NaN,34.0,NaN,37.6,39.6,38.7,41.9,41.2,...,32.3,34.9,NaN,40.8,NaN,42.2,38.0,34.4,37.0,36.7
1997-Q1,40.2,37.9,43.4,34.4,41.3,39.4,39.2,38.6,41.8,42.0,...,32.3,35.7,42.2,40.0,40.3,40.5,38.3,36.3,37.1,36.5
1997-Q2,40.2,37.9,43.4,34.4,41.3,39.4,39.2,38.6,41.8,42.0,...,32.3,35.7,42.2,40.0,40.3,40.5,38.3,36.3,37.1,36.5
1997-Q3,40.2,37.9,43.4,34.4,41.3,39.4,39.2,38.6,41.8,42.0,...,32.3,35.7,42.2,40.0,40.3,40.5,38.3,36.3,37.1,36.5
1997-Q4,40.2,37.9,43.4,34.4,41.3,39.4,39.2,38.6,41.8,42.0,...,32.3,35.7,42.2,40.0,40.3,40.5,38.3,36.3,37.1,36.5

In [119]:
#transformation: données annuelles--> trimestrielles // Option 2: Interpolation
# Création d'une copie du dataframe original
df_working_hours_quarterly_2 = df_working_hours_pivot_eurostat_an.copy()


# Idée pour l'interpolation: recopier la valeur annuelle pour le premier trimestre et
# ajouter des lignes "vides" entre le premier trimestre des deux années consécutives, puis faire l'interpolation
new_index = []
values = []

for year in df_working_hours_quarterly_2.index:
    # Ajouter Q1 pour chaque année (avec la valeur annuelle)
    new_index.append(f"{year}-Q1")
    values.append(df_working_hours_quarterly_2.loc[year].values)
    
    # Ajouter Q2, Q3 et Q4 (lignes vides pour l'instant)
    for quarter in ['Q2', 'Q3', 'Q4']:
        new_index.append(f"{year}-{quarter}")
        values.append([None] * len(df_working_hours_quarterly_2.columns))

# Création d'un nouveau DataFrame trimestriel avec les mêmes colonnes
df_working_hours_quarterly_2 = pd.DataFrame(values, index=new_index, columns=df_working_hours_quarterly_2.columns)

#On met le nom de "TIME_PERIOD"
df_working_hours_quarterly_2.index.name = 'TIME_PERIOD'

# Interpolation linéaire
df_working_hours_quarterly_2 = df_working_hours_quarterly_2.interpolate(method='linear')

# Renommer les colonnes pour éviter la duplication des préfixes dans les noms des colonnes
df_working_hours_quarterly_2.columns = [col.replace("Working_Hours_Working_Hours", "Working_Hours") for col in df_working_hours_quarterly_1.columns]

#Vérification
df_working_hours_quarterly_2

,Working_Hours_Austria,Working_Hours_Belgium,Working_Hours_Czechia,Working_Hours_Denmark,Working_Hours_Estonia,Working_Hours_Finland,Working_Hours_France,Working_Hours_Germany,Working_Hours_Greece,Working_Hours_Hungary,...,Working_Hours_Netherlands,Working_Hours_Norway,Working_Hours_Poland,Working_Hours_Portugal,Working_Hours_Romania,Working_Hours_Slovenia,Working_Hours_Spain,Working_Hours_Sweden,Working_Hours_Switzerland,Working_Hours_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-Q1,40.00,37.800,NaN,34.300,NaN,36.900,39.700,38.700,42.300,NaN,...,30.50,34.400,NaN,41.6,NaN,NaN,38.300,34.000,NaN,36.90
1995-Q2,39.95,37.800,NaN,34.225,NaN,37.075,39.675,38.700,42.200,NaN,...,30.95,34.525,NaN,41.4,NaN,NaN,38.225,34.100,NaN,36.85
1995-Q3,39.90,37.800,NaN,34.150,NaN,37.250,39.650,38.700,42.100,NaN,...,31.40,34.650,NaN,41.2,NaN,NaN,38.150,34.200,NaN,36.80
1995-Q4,39.85,37.800,NaN,34.075,NaN,37.425,39.625,38.700,42.000,NaN,...,31.85,34.775,NaN,41.0,NaN,NaN,38.075,34.300,NaN,36.75
1996-Q1,39.80,37.800,NaN,34.000,NaN,37.600,39.600,38.700,41.900,41.2,...,32.30,34.900,NaN,40.8,NaN,42.200,38.000,34.400,37.000,36.70
1996-Q2,39.90,37.825,NaN,34.100,NaN,38.050,39.500,38.675,41.875,41.4,...,32.30,35.100,NaN,40.6,NaN,41.775,38.075,34.875,37.025,36.65
1996-Q3,40.00,37.850,NaN,34.200,NaN,38.500,39.400,38.650,41.850,41.6,...,32.30,35.300,NaN,40.4,NaN,41.350,38.150,35.350,37.050,36.60
1996-Q4,40.10,37.875,NaN,34.300,NaN,38.950,39.300,38.625,41.825,41.8,...,32.30,35.500,NaN,40.2,NaN,40.925,38.225,35.825,37.075,36.55
1997-Q1,40.20,37.900,43.4,34.400,41.3,39.400,39.200,38.600,41.800,42.0,...,32.30,35.700,42.2,40.0,40.3,40.500,38.300,36.300,37.100,36.50
1997-Q2,40.20,37.900,43.4,34.400,41.3,39.400,39.200,38.600,41.800,42.0,...,32.30,35.700,42.2,40.0,40.3,40.500,38.300,36.300,37.100,36.50
1997-Q3,40.20,37.900,43.4,34.400,41.3,39.400,39.200,38.600,41.800,42.0,...,32.30,35.700,42.2,40.0,40.3,40.500,38.300,36.300,37.100,36.50
1997-Q4,40.20,37.900,43.4,34.400,41.3,39.400,39.200,38.600,41.800,42.0,...,32.30,35.700,42.2,40.0,40.3,40.500,38.300,36.300,37.100,36.50

In [120]:
# Extraction des données Working Hours trimestriels (Données Eurostat à partir de 2008)
'''
Informations générales: données trimestrielles à partir de 2008
Online data code: lfsq_ewhan2
Unit of measure: Hours per year per person
'''

# Charger les données
df_working_hours_eurostat_1 = pd.read_csv("Données_extraites/Working_hours_eurostat_2008-2024.csv", encoding='utf-8')
#print(df_working_hours_eurostat_1.head())

# Choix des colonnes rélévantes
df_working_hours_selected_eurostat_1 = df_working_hours_eurostat_1[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_working_hours_selected_eurostat_1.head())

# Obtention des données de panel
df_working_hours_pivot_eurostat_1 = df_working_hours_selected_eurostat_1.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE', aggfunc='first')

# Renommer les colonnes pour inclure un préfixe "WorkingHours_" suivi du nom du pays
df_working_hours_pivot_eurostat_1.columns = [f'Working_Hours_{col}' for col in df_working_hours_pivot_eurostat_1.columns]

# Vérifier que les dates sont bien en index et les pays sont renommés
#print(df_working_hours_pivot_eurostat_1.head())
df_working_hours_pivot_eurostat_1

#On change le nom pour simplifier
df_working_hours_eurostat_1=df_working_hours_pivot_eurostat_1
df_working_hours_eurostat_1

,Working_Hours_Austria,Working_Hours_Belgium,Working_Hours_Bulgaria,Working_Hours_Croatia,Working_Hours_Cyprus,Working_Hours_Czechia,Working_Hours_Denmark,Working_Hours_Estonia,Working_Hours_Finland,Working_Hours_France,...,Working_Hours_Poland,Working_Hours_Portugal,Working_Hours_Romania,Working_Hours_Slovakia,Working_Hours_Slovenia,Working_Hours_Spain,Working_Hours_Sweden,Working_Hours_Switzerland,Working_Hours_Türkiye,Working_Hours_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2008-Q1,37.6,36.7,40.7,39.6,38.6,41.3,34.3,39.3,35.8,36.7,...,39.8,38.1,39.4,39.6,39.3,37.7,34.8,NaN,48.9,35.2
2008-Q2,37.7,36.7,41.0,40.5,38.4,41.5,35.0,39.6,36.9,36.3,...,40.5,38.1,40.4,40.3,39.4,38.6,35.4,37.4,50.2,35.9
2008-Q3,38.7,37.2,41.8,40.7,40.7,42.3,36.2,40.1,38.2,37.5,...,41.5,39.7,40.5,39.6,40.3,39.0,36.7,NaN,51.4,36.4
2008-Q4,37.2,36.5,41.0,39.7,38.7,40.7,34.8,38.4,36.5,36.5,...,39.3,38.3,39.6,39.9,39.3,38.1,35.7,NaN,49.4,35.8
2009-Q1,36.7,36.9,39.8,39.3,37.8,40.9,34.8,37.6,35.9,36.9,...,39.5,38.6,39.0,39.2,39.4,37.6,35.1,NaN,47.2,35.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-Q3,34.1,34.4,39.3,39.1,39.5,37.0,34.0,37.0,35.3,36.0,...,40.2,38.4,39.8,37.2,38.5,36.9,36.0,36.6,45.2,NaN
2023-Q4,32.9,34.1,39.0,37.6,38.7,37.8,33.0,36.3,33.6,35.9,...,38.6,36.5,39.1,37.2,37.8,35.4,35.5,36.3,43.8,NaN
2024-Q1,34.0,35.0,39.3,38.1,37.7,37.7,32.6,35.9,34.2,36.2,...,39.2,37.1,39.2,38.0,37.7,36.1,35.3,35.7,42.9,NaN
2024-Q2,32.9,33.8,38.5,37.5,37.2,37.4,32.8,36.4,34.2,34.7,...,38.4,36.9,38.2,37.6,37.5,36.4,33.9,35.9,42.4,NaN
2024-Q3,34.5,34.3,39.2,38.2,39.1,38.2,33.5,36.7,35.1,36.3,...,39.7,38.2,39.0,37.8,38.6,36.8,35.9,36.4,43.9,NaN

In [121]:
# Extraction des données Working Hours per year (Données Eurostat à partir de 1998-2008)
'''
Informations générales: données trimestrielles 1998--> 2008
Online data code: lfsq_ewhana
Source: https://ec.europa.eu/eurostat/databrowser/view/lfsq_ewhana__custom_15382513/default/table?lang=en
Unit of measure: Hours per year per person
'''

# Charger les données
df_working_hours_eurostat_2 = pd.read_csv("Données_extraites/Working_hours_eurostat_1998-2007.csv", encoding='utf-8')
#print(df_GDP.head())

# Choix des colonnes rélévantes
df_working_hours_selected_eurostat_2 = df_working_hours_eurostat_2[['geo', 'TIME_PERIOD', 'OBS_VALUE']]
#print(df_GDP_selected.head())

# Obtention des données de panel
df_working_hours_pivot_eurostat_2 = df_working_hours_selected_eurostat_2.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE', aggfunc='first')

# Renommer les colonnes pour inclure un préfixe (par exemple, "Working_Hours_")
df_working_hours_pivot_eurostat_2.columns = [f'Working_Hours_{col}' for col in df_working_hours_pivot_eurostat_2.columns]

# Supprimer les 4 dernières lignes (pour que l'année 2008 ne se répète pas 2 fois lors de la concaténation finale)
df_working_hours_pivot_eurostat_2 = df_working_hours_pivot_eurostat_2.iloc[:-4, :]

#On change le nom pour simplifier
df_working_hours_eurostat_2=df_working_hours_pivot_eurostat_2
df_working_hours_eurostat_2

,Working_Hours_Austria,Working_Hours_Belgium,Working_Hours_Bulgaria,Working_Hours_Croatia,Working_Hours_Cyprus,Working_Hours_Czechia,Working_Hours_Denmark,Working_Hours_Estonia,Working_Hours_Finland,Working_Hours_France,...,Working_Hours_Poland,Working_Hours_Portugal,Working_Hours_Romania,Working_Hours_Slovakia,Working_Hours_Slovenia,Working_Hours_Spain,Working_Hours_Sweden,Working_Hours_Switzerland,Working_Hours_Türkiye,Working_Hours_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1998-Q1,39.8,NaN,NaN,NaN,NaN,43.1,NaN,NaN,38.5,39.3,...,NaN,40.8,NaN,41.7,NaN,38.6,NaN,NaN,NaN,NaN
1998-Q2,NaN,38.5,NaN,NaN,NaN,43.5,33.9,41.1,37.8,NaN,...,41.9,39.9,39.9,42.0,40.7,38.5,34.5,37.1,NaN,36.5
1998-Q3,NaN,NaN,NaN,NaN,NaN,44.4,NaN,NaN,39.6,NaN,...,NaN,41.2,NaN,42.9,NaN,40.0,NaN,NaN,NaN,NaN
1998-Q4,NaN,NaN,NaN,NaN,NaN,44.2,NaN,NaN,38.9,NaN,...,NaN,39.1,NaN,42.7,NaN,38.2,NaN,NaN,NaN,NaN
1999-Q1,39.6,37.3,NaN,NaN,NaN,43.8,35.2,NaN,38.4,38.9,...,39.8,40.1,38.2,41.9,41.0,38.6,NaN,NaN,NaN,NaN
1999-Q2,38.8,36.8,NaN,NaN,39.7,43.9,35.5,41.1,37.5,NaN,...,NaN,40.0,40.0,42.1,41.4,39.5,36.4,37.3,NaN,36.3
1999-Q3,40.2,37.7,NaN,NaN,NaN,44.0,36.7,NaN,39.2,NaN,...,NaN,40.7,40.6,42.6,42.1,40.0,NaN,NaN,NaN,37.2
1999-Q4,39.5,36.5,NaN,NaN,NaN,43.4,35.4,NaN,37.0,NaN,...,NaN,39.0,38.8,42.2,41.9,37.6,NaN,NaN,NaN,37.1
2000-Q1,39.5,37.6,40.2,NaN,NaN,43.6,36.1,40.4,37.6,38.5,...,40.1,40.1,38.0,42.1,41.1,39.4,NaN,NaN,NaN,35.6
2000-Q2,38.3,36.6,40.7,NaN,39.3,43.2,34.2,40.5,36.8,NaN,...,40.9,39.3,40.2,41.6,41.0,38.4,36.7,37.5,NaN,36.1
2000-Q3,39.8,37.3,36.8,NaN,NaN,43.8,36.8,41.2,38.9,NaN,...,42.4,40.4,40.5,41.5,41.9,39.6,NaN,NaN,NaN,37.0
2000-Q4,39.1,36.9,40.8,NaN,NaN,43.6,35.6,40.2,37.3,NaN,...,40.2,38.8,38.8,41.5,41.1,37.4,NaN,NaN,NaN,37.0
2001-Q1,39.4,37.2,40.8,NaN,NaN,41.9,35.7,40.4,37.6,38.1,...,39.8,39.3,38.2,42.1,40.4,39.2,36.7,NaN,NaN,35.8
2001-Q2,38.2,36.4,41.1,NaN,38.8,41.4,34.6,40.2,36.4,NaN,...,40.4,39.3,40.2,41.0,40.0,38.3,34.6,37.6,NaN,36.3
2001-Q3,39.5,37.8,41.1,NaN,NaN,41.6,36.7,40.6,38.9,NaN,...,42.3,40.2,40.6,42.0,41.6,39.6,37.4,NaN,NaN,37.1
2001-Q4,39.1,36.9,41.1,NaN,NaN,41.5,35.9,39.5,37.1,NaN,...,39.8,39.1,39.0,41.3,41.0,37.6,36.6,NaN,NaN,36.8
2002-Q1,39.0,37.1,40.7,40.9,NaN,41.6,35.1,39.5,36.7,37.6,...,39.7,38.9,39.1,41.3,40.8,38.0,35.8,NaN,NaN,35.4
2002-Q2,38.3,36.6,41.2,40.9,38.4,41.4,35.1,40.4,36.8,NaN,...,40.7,38.9,41.2,40.8,40.5,38.5,34.9,37.1,NaN,36.1
2002-Q3,39.3,37.6,41.2,40.7,NaN,42.3,36.3,41.2,38.7,NaN,...,42.2,40.2,41.6,40.8,41.6,39.5,37.2,NaN,NaN,36.4
2002-Q4,39.1,36.9,40.8,40.7,NaN,41.7,35.5,39.5,36.9,NaN,...,39.6,39.1,40.1,40.2,40.6,38.1,36.3,NaN,NaN,36.6
2003-Q1,38.9,36.5,40.5,40.9,NaN,42.1,35.3,39.5,36.7,36.8,...,39.9,39.0,39.0,40.6,41.1,38.2,35.5,NaN,NaN,35.1
2003-Q2,37.7,36.4,40.0,40.9,38.2,41.5,34.3,39.9,36.1,35.3,...,40.7,38.1,41.1,40.6,40.2,37.7,34.0,37.4,NaN,35.7
2003-Q3,38.9,37.2,41.2,40.9,NaN,42.9,36.0,40.9,38.7,37.4,...,42.3,39.8,41.4,40.7,41.2,39.3,36.9,NaN,NaN,36.6
2003-Q4,38.6,36.5,40.9,40.9,NaN,41.3,35.1,39.4,37.2,36.2,...,39.7,38.4,39.7,40.5,40.8,38.2,36.0,NaN,NaN,36.5
2004-Q1,39.3,36.8,40.7,40.8,NaN,41.9,35.0,39.0,36.7,36.7,...,39.9,38.9,38.4,40.5,40.1,38.1,35.2,NaN,NaN,35.2
2004-Q2,39.1,36.2,40.7,40.8,38.8,42.2,33.8,40.1,36.5,36.1,...,40.9,39.3,41.0,40.7,39.9,38.3,34.5,37.6,NaN,35.7
2004-Q3,40.2,37.1,40.9,40.8,41.2,42.2,36.2,40.7,38.1,37.4,...,42.2,40.0,41.6,41.0,40.9,39.3,36.8,NaN,NaN,36.5
2004-Q4,38.3,35.9,40.6,40.8,39.8,41.0,34.4,39.9,36.8,36.2,...,39.8,37.9,40.4,40.8,40.9,37.2,35.6,NaN,NaN,36.5
2005-Q1,38.5,36.8,40.5,40.2,38.5,41.8,34.7,39.5,36.1,36.8,...,39.6,38.8,39.5,40.9,40.3,38.1,34.9,NaN,NaN,35.4
2005-Q2,38.5,36.8,40.3,40.2,39.0,42.6,35.0,40.2,37.1,36.8,...,40.9,38.8,40.9,41.0,40.2,39.3,35.5,37.6,NaN,35.7
2005-Q3,39.4,36.8,40.8,40.3,40.7,41.8,36.2,40.7,38.4,37.3,...,42.0,40.0,41.3,41.2,40.9,39.4,36.7,NaN,NaN,36.5
2005-Q4,38.2,36.4,41.1,40.3,39.6,41.2,35.2,40.2,36.7,36.3,...,39.7,38.5,40.1,41.1,40.3,38.0,35.9,NaN,NaN,36.5
2006-Q1,38.6,37.3,40.8,40.3,39.0,42.0,35.5,39.8,37.0,37.2,...,39.8,39.5,39.3,40.8,39.8,38.8,35.9,NaN,50.0,35.6
2006-Q2,37.8,36.2,40.6,40.3,38.4,41.2,34.1,40.1,36.1,35.9,...,40.1,38.7,40.7,39.8,38.7,38.3,34.0,37.6,52.1,35.6
2006-Q3,39.4,37.3,41.3,40.4,40.4,41.5,35.7,40.6,38.3,37.4,...,42.1,39.7,41.0,40.1,40.8,39.2,36.8,NaN,53.8,36.4
2006-Q4,38.0,36.5,41.6,40.4,39.5,41.5,34.7,39.9,36.4,36.7,...,40.1,37.7,39.7,40.0,39.5,37.9,36.0,NaN,51.0,36.3
2007-Q1,38.3,37.1,40.8,40.2,38.8,41.7,35.0,40.0,36.9,37.0,...,40.2,38.7,39.6,40.6,39.4,38.8,35.9,NaN,45.2,35.5
2007-Q2,37.4,36.6,40.6,40.8,38.4,41.1,34.0,40.1,35.8,35.7,...,40.4,38.0,40.8,39.6,39.0,38.2,34.0,37.1,50.9,35.8
2007-Q3,39.0,37.8,41.5,41.0,40.4,41.4,36.3,40.0,38.4,37.8,...,41.9,39.5,40.3,40.8,40.7,39.1,36.7,NaN,52.1,36.5
2007-Q4,37.7,36.8,41.8,39.9,39.0,41.6,35.1,39.5,36.4,36.7,...,39.5,38.3,39.8,40.2,39.9,37.7,36.0,NaN,49.6,36.5

Ainsi nous obtenons les données sur les Working Hours

Nom du data_frame: df_working_hours

In [122]:
# Concaténation verticale pour fusionner les trois jeux de données 
# Remarque: pour la période 1995-1997, nous avons pris la méthode par l'interpolation linéaire

df_working_hours = pd.concat(
    [df_working_hours_quarterly_2, df_working_hours_pivot_eurostat_2, df_working_hours_pivot_eurostat_1], 
    axis=0
)

df_working_hours

# On filtre les pays qui nous intéressent
colonnes_a_garder = [f'Working_Hours_{pays}' for pays in countries_selected]

# Vérification et filtrage
df_working_hours = df_working_hours[[col for col in df_working_hours.columns if col in colonnes_a_garder]]
df_working_hours

,Working_Hours_Austria,Working_Hours_Belgium,Working_Hours_Czechia,Working_Hours_Denmark,Working_Hours_Estonia,Working_Hours_Finland,Working_Hours_France,Working_Hours_Germany,Working_Hours_Greece,Working_Hours_Hungary,...,Working_Hours_Romania,Working_Hours_Slovenia,Working_Hours_Spain,Working_Hours_Sweden,Working_Hours_Switzerland,Working_Hours_United Kingdom,Working_Hours_Bulgaria,Working_Hours_Latvia,Working_Hours_Lithuania,Working_Hours_Slovakia
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-Q1,40.00,37.8,NaN,34.300,NaN,36.900,39.700,38.7,42.3,NaN,...,NaN,NaN,38.300,34.0,NaN,36.90,NaN,NaN,NaN,NaN
1995-Q2,39.95,37.8,NaN,34.225,NaN,37.075,39.675,38.7,42.2,NaN,...,NaN,NaN,38.225,34.1,NaN,36.85,NaN,NaN,NaN,NaN
1995-Q3,39.90,37.8,NaN,34.150,NaN,37.250,39.650,38.7,42.1,NaN,...,NaN,NaN,38.150,34.2,NaN,36.80,NaN,NaN,NaN,NaN
1995-Q4,39.85,37.8,NaN,34.075,NaN,37.425,39.625,38.7,42.0,NaN,...,NaN,NaN,38.075,34.3,NaN,36.75,NaN,NaN,NaN,NaN
1996-Q1,39.80,37.8,NaN,34.000,NaN,37.600,39.600,38.7,41.9,41.2,...,NaN,42.2,38.000,34.4,37.0,36.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-Q3,34.10,34.4,37.0,34.000,37.0,35.300,36.000,34.4,40.7,38.8,...,39.8,38.5,36.900,36.0,36.6,NaN,39.3,38.9,38.7,37.2
2023-Q4,32.90,34.1,37.8,33.000,36.3,33.600,35.900,33.5,39.5,36.4,...,39.1,37.8,35.400,35.5,36.3,NaN,39.0,38.4,37.6,37.2
2024-Q1,34.00,35.0,37.7,32.600,35.9,34.200,36.200,33.7,38.9,37.0,...,39.2,37.7,36.100,35.3,35.7,NaN,39.3,38.3,37.8,38.0
2024-Q2,32.90,33.8,37.4,32.800,36.4,34.200,34.700,33.5,40.0,37.8,...,38.2,37.5,36.400,33.9,35.9,NaN,38.5,38.1,38.3,37.6
2024-Q3,34.50,34.3,38.2,33.500,36.7,35.100,36.300,34.2,41.2,38.2,...,39.0,38.6,36.800,35.9,36.4,NaN,39.2,38.7,38.8,37.8

Données des taux d'intérêts

Taux court terme : "Les données se réfèrent aux bons acceptés par la banque/Certificats de dépôt négociables-3 mois."
Nom du dataframe: df_ST_IR


Taux long terme : "Les données se réfèrent au taux de rendement estimé en clôture des obligations du trésor à 10 ans."
Nom du dataframe: df_LT_IR

In [123]:
# Pour le long terme (une possibilité): Long term interest rates
'''
Source: https://data-explorer.oecd.org/vis?lc=en&pg=0&tm=LONG-TERM%20INTEREST
Unit of measure: Percent per annum
'''

# Charger les données
df_LT_IR = pd.read_csv('Données_extraites/Long_term_IR_OCDE.csv', encoding='utf-8')

# Choix des colonnes rélévantes
df_LT_IR_selected = df_LT_IR[df_LT_IR['Reference area'].isin(countries_selected)][['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]

# Obtention des données de panel en format séries temporelles
df_LT_IR_pivot = df_LT_IR_selected.pivot_table(index='TIME_PERIOD', columns='Reference area', values='OBS_VALUE', aggfunc='first')

# Renommer les colonnes pour inclure le préfixe LT_IR_ (=Long Term Interest Rate)
df_LT_IR_pivot.columns = [f'LT_IR_{col}' for col in df_LT_IR_pivot.columns]
df_LT_IR_pivot = df_LT_IR_pivot.rename(columns={'LT_IR_Slovak Republic': 'LT_IR_Slovakia'})

# On filtre les pays qui nous intéressent
colonnes_a_garder = [f'LT_IR_{pays}' for pays in countries_selected]

# Vérification et filtrage
df_LT_IR=df_LT_IR_pivot
df_LT_IR

,LT_IR_Austria,LT_IR_Belgium,LT_IR_Bulgaria,LT_IR_Czechia,LT_IR_Denmark,LT_IR_Estonia,LT_IR_Finland,LT_IR_France,LT_IR_Germany,LT_IR_Greece,...,LT_IR_Netherlands,LT_IR_Norway,LT_IR_Poland,LT_IR_Portugal,LT_IR_Romania,LT_IR_Slovenia,LT_IR_Spain,LT_IR_Sweden,LT_IR_Switzerland,LT_IR_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-Q1,7.627367,8.293333,NaN,NaN,8.960000,NaN,10.213330,8.088200,7.432434,NaN,...,7.555666,8.046667,NaN,11.823330,NaN,NaN,11.906670,10.963330,5.275333,8.661467
1995-Q2,7.184033,7.590000,NaN,NaN,8.443666,NaN,8.983334,7.592500,6.911238,NaN,...,6.970333,7.590000,NaN,11.990000,NaN,NaN,11.680000,10.913330,4.947333,8.242567
1995-Q3,6.997967,7.186666,NaN,NaN,8.087667,NaN,8.353333,7.377333,6.731236,NaN,...,6.724000,7.353333,NaN,11.383330,NaN,NaN,11.033330,10.136670,4.714667,8.108933
1995-Q4,6.730933,6.853333,NaN,NaN,7.583000,NaN,7.616667,7.080767,6.327264,NaN,...,6.332334,6.706666,NaN,10.663330,NaN,NaN,10.460000,8.963333,4.175667,7.788167
1996-Q1,6.396633,6.640000,NaN,NaN,7.349000,NaN,7.470000,6.577667,6.178932,NaN,...,6.179333,6.676667,NaN,9.450000,NaN,NaN,9.683333,8.580000,4.400333,7.753200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-Q4,3.125533,3.150000,4.023334,4.371921,2.787333,3.656667,3.116667,3.096667,2.508883,3.820000,...,2.859667,3.640197,5.530000,3.246667,6.583333,3.486667,3.583333,2.662297,0.841333,4.234600
2024-Q1,2.835333,2.890000,3.933333,3.821404,2.423667,3.430000,2.844653,2.803333,2.285317,3.370000,...,2.588333,3.601987,5.333333,3.016667,6.053333,3.160000,3.216667,2.352227,0.765667,4.029300
2024-Q2,3.013533,3.063333,3.930000,4.190742,2.506667,3.706667,2.999653,3.050000,2.483253,3.563333,...,2.789667,3.652627,5.690000,3.160000,6.176667,3.256667,3.313333,2.382347,0.722333,4.201500
2024-Q3,2.809900,2.893333,3.930000,3.834368,2.253667,3.600000,2.832361,2.993333,2.277710,3.333333,...,2.588333,3.379913,5.413333,2.920000,6.446667,3.046667,3.116667,1.995850,0.437000,3.996100
2024-Q4,2.712067,2.853333,3.930000,4.073143,2.028333,3.450000,2.735690,3.030000,2.238056,3.133333,...,2.515667,3.602998,5.663333,2.733333,6.590000,2.973333,2.973333,2.070657,0.352333,4.348567

In [124]:
# Pour le court terme (une possibilité): short term interest rates

'''
Informations générales 
source: https://data-explorer.oecd.org/vis?lc=en&pg=0&tm=LONG-TERM%20INTEREST&snb=21&vw=tb&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_STES%40DF_FINMARK&df[ag]=OECD.SDD.STES&df[vs]=4.0&dq=GBR%2BROU%2BHRV%2BBGR%2BESP%2BTUR%2BCHE%2BSWE%2BSVN%2BSVK%2BPRT%2BPOL%2BNOR%2BNLD%2BLUX%2BLTU%2BLVA%2BITA%2BIRL%2BISL%2BHUN%2BGRC%2BDEU%2BFRA%2BFIN%2BEST%2BDNK%2BCZE%2BBEL%2BAUT%2BAUS.Q.IRLT.PA.....&to[TIME_PERIOD]=false&pd=1995-Q1%2C
Unit of measure: Percent per annum
'''

df_ST_IR=pd.read_csv('Données_extraites/Short_term_IR_OCDE.csv', encoding='utf-8')

# Choix des colonnes rélévantes
df_ST_IR_selected = df_ST_IR[['Reference area', 'TIME_PERIOD', 'OBS_VALUE']]

# Obtention des données de panel en format séries temporelles
df_ST_IR_pivot = df_ST_IR_selected.pivot_table(index='TIME_PERIOD', columns='Reference area', values='OBS_VALUE', aggfunc='first')

# Renommer les colonnes pour inclure le préfixe ST_IR_ (=Short Term Interest Rate)
df_ST_IR_pivot.columns = [f'ST_IR_{col}' for col in df_ST_IR_pivot.columns]
df_ST_IR_pivot = df_ST_IR_pivot.rename(columns={'ST_IR_Slovak Republic': 'ST_IR_Slovakia'})


# On simplifie le nom, et on vérifie// pas besoin de filtrer car les 28 pays sont ceux qui nous intéressent
df_ST_IR=df_ST_IR_pivot
df_ST_IR

,ST_IR_Austria,ST_IR_Belgium,ST_IR_Bulgaria,ST_IR_Czechia,ST_IR_Denmark,ST_IR_Estonia,ST_IR_Finland,ST_IR_France,ST_IR_Germany,ST_IR_Greece,...,ST_IR_Norway,ST_IR_Poland,ST_IR_Portugal,ST_IR_Romania,ST_IR_Slovakia,ST_IR_Slovenia,ST_IR_Spain,ST_IR_Sweden,ST_IR_Switzerland,ST_IR_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1995-Q1,5.043334,5.706666,NaN,10.858710,6.495430,NaN,5.966667,6.600767,5.110000,18.116840,...,5.536667,29.710000,10.527000,NaN,NaN,NaN,9.032666,8.196667,NaN,6.722410
1995-Q2,4.680000,5.050000,NaN,10.501130,6.854634,NaN,5.953333,7.482500,4.600000,16.467290,...,5.606667,28.856670,10.200330,NaN,NaN,NaN,9.454333,8.903334,NaN,6.742444
1995-Q3,4.373333,4.416667,NaN,11.310300,6.110099,NaN,6.053333,6.122233,4.403333,15.321020,...,5.440000,26.526670,9.337000,NaN,6.983333,NaN,9.543667,9.110000,NaN,6.849310
1995-Q4,4.176667,3.960000,NaN,11.114370,5.350968,NaN,5.026667,6.107234,4.013333,15.711430,...,5.330000,25.666670,9.082334,47.636670,8.156667,NaN,9.390000,8.773334,NaN,6.696187
1996-Q1,3.476667,3.350000,NaN,10.860570,4.451957,8.226666,4.163333,4.460033,3.440000,14.225530,...,5.220000,22.756670,8.166667,58.903330,8.836667,NaN,8.680000,7.643333,NaN,6.277534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-Q4,3.957456,3.957456,1.419333,7.025323,3.941422,3.957456,3.957456,3.957456,3.957456,3.957456,...,4.713333,5.766667,3.957456,6.306667,3.957456,3.957456,3.957456,4.028850,1.718106,5.326667
2024-Q1,3.923615,3.923615,1.665700,6.224104,3.882079,3.923615,3.923615,3.923615,3.923615,3.923615,...,4.716667,5.863333,3.923615,6.106667,3.923615,3.923615,3.923615,4.022277,1.628413,5.203333
2024-Q2,3.808172,3.808172,1.787933,5.248055,3.734747,3.808172,3.808172,3.808172,3.808172,3.808172,...,4.720000,5.850000,3.808172,6.043334,3.808172,3.808172,3.808172,3.807240,1.475667,5.166667
2024-Q3,3.555377,3.555377,1.576833,4.440462,3.457668,3.555377,3.555377,3.555377,3.555377,3.555377,...,4.743333,5.853333,3.555377,5.676667,3.555377,3.555377,3.555377,3.363063,1.094031,4.946667
2024-Q4,2.996487,2.996487,1.915267,3.994726,2.909465,2.996487,2.996487,2.996487,2.996487,2.996487,...,4.693333,5.850000,2.996487,5.703333,2.996487,2.996487,2.996487,2.678993,0.767250,4.690000

Import du CPI

Nom du dataframe: 
df_CPI

In [146]:
# données téléchargées depuis le site de eurostat
# Décompresser le fichier qui était en .gz

df_CPI=pd.read_csv('Données_extraites/CPI_annual_eurostat_1996-2024.csv', encoding='utf-8')

# Choix des colonnes rélévantes
df_CPI_selected = df_CPI[['geo', 'TIME_PERIOD', 'OBS_VALUE']]

# Obtention des données de panel en format séries temporelles
df_CPI_pivot = df_CPI_selected.pivot_table(index='TIME_PERIOD', columns='geo', values='OBS_VALUE', aggfunc='first')

# Renommer les colonnes pour inclure le préfixe CPI_ (=Consumer price index)
df_CPI_pivot.columns = [f'CPI_{col}' for col in df_CPI_pivot.columns]

# On filtre les pays qui nous intéressent

# Vérification et filtrage
df_CPI=df_CPI_pivot
colonnes_a_garder = [f'CPI_{pays}' for pays in countries_selected]
df_CPI = df_CPI[[col for col in df_CPI.columns if col in colonnes_a_garder]]
df_CPI

,CPI_Austria,CPI_Belgium,CPI_Bulgaria,CPI_Czechia,CPI_Denmark,CPI_Estonia,CPI_Finland,CPI_France,CPI_Germany,CPI_Greece,...,CPI_Norway,CPI_Poland,CPI_Portugal,CPI_Romania,CPI_Slovakia,CPI_Slovenia,CPI_Spain,CPI_Sweden,CPI_Switzerland,CPI_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1996-01,71.34,69.91,NaN,57.0,70.4,42.87,71.20,74.13,75.1,59.04,...,69.2,43.0,65.76,2.71,43.01,43.88,63.95,75.41,NaN,67.8
1996-02,71.55,69.98,NaN,57.3,70.8,44.24,71.49,74.42,75.6,58.92,...,69.3,43.6,66.09,2.76,43.12,44.43,64.08,75.60,NaN,68.1
1996-03,71.77,70.12,NaN,57.6,71.3,44.95,71.63,74.90,75.7,60.64,...,69.5,44.3,66.23,2.81,43.22,45.07,64.34,76.14,NaN,68.4
1996-04,71.69,70.47,NaN,58.1,71.5,45.72,71.78,74.99,75.6,61.25,...,69.7,45.2,66.76,2.87,43.35,45.76,64.73,76.49,NaN,68.7
1996-05,71.62,70.61,NaN,58.4,71.7,45.95,71.99,75.19,75.7,61.74,...,69.9,45.8,67.03,3.02,43.56,46.04,64.99,76.56,NaN,68.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08,133.77,132.73,138.83,152.9,119.7,156.41,119.23,124.77,129.8,119.57,...,134.8,149.7,122.37,150.40,143.65,128.18,123.54,128.35,107.86,NaN
2024-09,134.13,132.21,137.25,152.2,119.2,155.95,119.79,123.15,129.7,121.71,...,135.1,149.8,124.28,151.01,143.73,128.44,123.42,128.76,107.50,NaN
2024-10,134.63,132.90,138.14,152.6,120.0,157.20,120.71,123.54,130.2,121.80,...,136.0,150.3,123.84,152.08,144.82,128.11,123.91,129.36,107.48,NaN
2024-11,135.00,133.13,138.53,152.7,119.5,156.15,120.37,123.36,129.3,120.32,...,136.6,150.8,122.58,152.57,145.18,128.98,123.95,130.11,106.92,NaN
2024-12,135.92,134.12,138.99,152.3,119.1,156.57,120.46,123.62,130.2,120.42,...,136.4,150.9,122.24,152.96,144.48,128.82,124.49,130.46,106.86,NaN

In [153]:
#Mise en place du CPI trimestriel
# Conversion de TIME_PERIOD en format datetime avec fréquence trimestrielle
df_CPI.index = pd.PeriodIndex(df_CPI.index, freq='Q')

# On calcule la moyenne par trimestre
df_CPI_trimestriel = df_CPI.groupby(df_CPI.index).mean()

# Changement du nom de l'index
df_CPI_trimestriel.index = df_CPI_trimestriel.index.astype(str).str.replace(r'(\d{4})Q(\d)', r'\1-Q\2', regex=True)
df_CPI=df_CPI_trimestriel
df_CPI

,CPI_Austria,CPI_Belgium,CPI_Bulgaria,CPI_Czechia,CPI_Denmark,CPI_Estonia,CPI_Finland,CPI_France,CPI_Germany,CPI_Greece,...,CPI_Norway,CPI_Poland,CPI_Portugal,CPI_Romania,CPI_Slovakia,CPI_Slovenia,CPI_Spain,CPI_Sweden,CPI_Switzerland,CPI_United Kingdom
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
1996-Q1,71.553333,70.003333,NaN,57.300000,70.833333,44.020000,71.440000,74.483333,75.466667,59.533333,...,69.333333,43.633333,66.026667,2.760000,43.116667,44.460000,64.123333,75.716667,NaN,68.100000
1996-Q2,71.716667,70.516667,NaN,58.466667,71.600000,45.966667,71.920000,75.096667,75.700000,61.616667,...,69.866667,45.733333,66.940000,2.980000,43.513333,45.976667,64.883333,76.443333,NaN,68.866667
1996-Q3,71.763333,70.446667,NaN,59.500000,71.700000,46.130000,71.846667,74.913333,75.933333,61.190000,...,70.233333,46.700000,67.303333,3.390000,44.050000,46.126667,65.186667,76.136667,NaN,68.933333
1996-Q4,72.053333,70.936667,7.280000,60.100000,72.133333,46.670000,71.873333,75.236667,75.833333,62.886667,...,70.700000,48.700000,67.323333,3.873333,44.863333,46.860000,65.513333,76.336667,NaN,69.366667
1997-Q1,72.463333,71.246667,29.320000,61.266667,72.333333,47.870000,71.966667,75.633333,76.666667,63.293333,...,71.600000,51.133333,67.700000,5.963333,45.710000,48.083333,65.750000,76.593333,NaN,69.366667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-Q4,132.593333,127.550000,135.790000,147.900000,117.566667,150.460000,118.626667,121.473333,126.700000,117.333333,...,133.733333,144.866667,119.533333,144.880000,139.996667,127.110000,121.266667,127.730000,106.443333,NaN
2024-Q1,133.326667,129.700000,136.686667,150.533333,118.533333,152.696667,119.483333,122.066667,127.200000,116.686667,...,134.166667,146.233333,119.386667,147.620000,141.613333,126.316667,121.680000,128.280000,106.703333,NaN
2024-Q2,134.366667,131.086667,137.003333,151.900000,118.733333,155.000000,119.673333,123.593333,129.066667,119.416667,...,135.533333,148.233333,123.280000,149.033333,142.680000,128.243333,124.020000,128.920000,107.440000,NaN
2024-Q3,133.950000,131.900000,138.276667,152.600000,119.733333,156.060000,119.643333,123.983333,129.833333,120.276667,...,135.400000,149.700000,123.056667,150.463333,143.540000,128.280000,123.490000,128.740000,107.750000,NaN
2024-Q4,135.183333,133.383333,138.553333,152.533333,119.533333,156.640000,120.513333,123.506667,129.900000,120.846667,...,136.333333,150.666667,122.886667,152.536667,144.826667,128.636667,124.116667,129.976667,107.086667,NaN

In [127]:
#tables en format long à merger : 
set1 = set(df_working_hours_long_eurostat['geo'].unique())
set2 = set(df_cpi_pivot['geo'].unique())
set3 = set(df_ST_IR['Reference area'].unique())
set4 = set(df_LT_IR['Reference area'].unique())
set5 = set(df_GDP_selected['geo'].unique())

pays_communs = set1 & set2 & set3 & set4 & set5  # Intersection de tous les ensembles
print("Pays communs :", pays_communs)
print("Nombre de pays communs :", len(pays_communs))

NameError: name 'df_working_hours_long_eurostat' is not defined

In [ ]:
tous_pays = set1 | set2 | set3 | set4 | set5  # Union de tous les ensembles
print("Tous les pays :", tous_pays)

for i, (name, dataset) in enumerate([
    ("df_working_hours_long_eurostat", set1),
    ("df_cpi_pivot", set2),
    ("df_ST_IR", set3),
    ("df_LT_IR", set4),
    ("df_GDP_selected", set5)
]):
    pays_absents = tous_pays - dataset  # Pays qui ne sont pas dans cet ensemble
    print(f"Pays absents dans {name} :", pays_absents)

#suppression des US dans df_cpi_pivot :
df_cpi_pivot = df_cpi_pivot[~df_cpi_pivot['geo'].isin(['United States'])]

In [ ]:
# renommer les variables de tous les df pour qu'elles soient uniformes 
df_working_hours_long_eurostat = df_working_hours_long_eurostat.rename(columns={'geo': 'country', 'OBS_VALUE': 'working_hours'})
df_cpi_trimestriel = df_cpi_trimestriel.rename(columns={'geo': 'country'})
df_ST_IR = df_ST_IR.rename(columns={'Reference area': 'country', 'OBS_VALUE': 'short term'})
df_LT_IR = df_LT_IR.rename(columns={'Reference area': 'country', 'OBS_VALUE': 'long term'})
df_GDP_selected = df_GDP_selected.rename(columns={'geo': 'country', 'OBS_VALUE': 'gdp'})

In [ ]:
# Maintenant on merge

from functools import reduce


# Liste de DataFrames à merger
dfs = [df_GDP_selected, df_ST_IR, df_LT_IR, df_working_hours_long_eurostat,df_cpi_trimestriel ]  

# Fusionner tous les DataFrames de la liste
df_merged = reduce(lambda left, right: left.merge(right, on=['country', 'TIME_PERIOD'], how='outer'), dfs)
df_merged